<div class="row" data-cg-busy="loadItemsPromise" style="margin: 0px;">
    <div class="document-list table-responsive">
        <table class="table table-striped table-content table-hover" data-st-table="documents"
            data-st-pagination-scroll="pageSize" data-st-pipe="getEntityDocumentsST" data-st-column-widths="[25, 20, 25, 25, 15]">
            <thead>
                <tr>
                    <th (click)="sortBy(html.columnsKey.FileName)" [ngClass]="(html.tableState.sort.predicate === html.columnsKey.FileName && sortNumber === 0) ?
                     'st-sort-ascent': (html.tableState.sort.predicate === html.columnsKey.FileName && sortNumber === 1 ? 'st-sort-descent': '')">File
                        Name</th>
                    <th (click)="sortBy(html.columnsKey.UploadedByFullName)" [ngClass]="(html.tableState.sort.predicate === html.columnsKey.UploadedByFullName && sortNumber === 0) ? 
                    'st-sort-ascent': (html.tableState.sort.predicate === html.columnsKey.UploadedByFullName && sortNumber === 1 ? 'st-sort-descent': '')">Uploaded
                        By</th>
                    <th (click)="sortBy(html.columnsKey.DocumentTypeId)" [ngClass]="(html.tableState.sort.predicate === html.columnsKey.DocumentTypeId && sortNumber === 0) ? 
                    'st-sort-ascent': (html.tableState.sort.predicate === html.columnsKey.DocumentTypeId && sortNumber === 1 ? 'st-sort-descent': '')">Document
                        Type</th>
                    <th (click)="sortBy(html.columnsKey.UploadedDatetime)" [ngClass]="(html.tableState.sort.predicate === html.columnsKey.UploadedDatetime && sortNumber === 0) ? 
                   'st-sort-ascent': (html.tableState.sort.predicate === html.columnsKey.UploadedDatetime && sortNumber === 1 ? 'st-sort-descent': '')">Date</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <th>
                        <!-- <input data-st-advanced-search="'Name'" class="input-sm form-control" type="search" /> -->
                        <app-phx-advance-filter [inputFilter]="inputFilterForFileName" (onColumnClick)="onColumnClicked($event)"
                            (onClose)="closeAllFilterPopup($event)" (onGo)="onGo($event)" (onClear)="onClear($event)"
                            [canShow]="html.filterSelectedStatus.isFileNameClicked" [columnId]="this.html.columnsKey.FileName"></app-phx-advance-filter>
                    </th>
                    <th>
                        <!-- <input data-st-advanced-search="'UploadedByFullName'" class="input-sm form-control" type="search" /> -->
                        <app-phx-advance-filter [inputFilter]="inputFilterForUploadedBy" (onColumnClick)="onColumnClicked($event)"
                            (onClose)="closeAllFilterPopup($event)" (onGo)="onGo($event)" (onClear)="onClear($event)"
                            [canShow]="html.filterSelectedStatus.isUploadedByClicked" [columnId]="this.html.columnsKey.UploadedByFullName"></app-phx-advance-filter>
                    </th>
                    <th>
                        <!-- <select data-st-advanced-search="{property: 'DocumentTypeId', ignoreQuotes: true}" class="input-sm form-control"
                            data-st-as-width-override="315" data-st-as-options-override="lists.documentTypeList"></select> -->
                        <app-phx-advance-filter [inputFilter]="inputFilterForDocumentType" (onColumnClick)="onColumnClicked($event)"
                            (onClose)="closeAllFilterPopup($event)" (onGo)="onGo($event)" (onClear)="onClear($event)"
                            [canShow]="html.filterSelectedStatus.isDocumentTypeClicked" [columnId]="this.html.columnsKey.DocumentTypeId"></app-phx-advance-filter>
                    </th>
                    <th>
                        <!-- <input data-st-advanced-search="'UploadedDatetime'" data-st-as-operator-override="'ge'"
                            close-on-date-selection="false" show-button-bar="false" show-weeks="false" class="input-sm form-control"
                            data-st-as-lazy-attributes="{'uib-datepicker' : ApplicationConstants.DateFormat.mediumDate}"
                            data-st-as-height-override="400" data-st-as-width-override="315" /> -->
                            <app-phx-advance-filter [inputFilter]="inputFilterForDate" (onColumnClick)="onColumnClicked($event)"
                            (onClose)="closeAllFilterPopup($event)" (onGo)="onGo($event)" (onClear)="onClear($event)"
                            [canShow]="html.filterSelectedStatus.isDateClicked" [columnId]="this.html.columnsKey.UploadedDatetime"></app-phx-advance-filter>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let document of html.documentsList?.Items">
                    <td>
                        <span>{{document.Name}}</span>
                    </td>
                    <td>
                        <span>{{document.UploadedByFullName}}</span>
                    </td>
                    <td>
                        <span>{{getDocumentTypeName(document.DocumentTypeId)}}</span>
                    </td>
                    <td>
                        <span>{{document.UploadedDatetime | date:html.phxConstants.DateFormat.MMM_ddComma_yyyy}}</span>
                    </td>
                    <td>
                        <a type="button" class="btn btn-default btn-material" title="View" target="_blank" 
                        *ngIf="document.PdfDocumentPublicId !== '00000000-0000-0000-0000-000000000000'"
                            [href]="getPdfStreamByPublicId(document.PublicId)"><i class="material-icons">remove_red_eye</i></a>
                        <button type="button" class="btn btn-default btn-material" (click)="documentDelete(document)"
                            title="Delete" *ngIf="canDeleteDocument(document)"><i class="material-icons">delete</i></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="record-count">
            <span><span class="record-count-value">{{html.documentsList?.Count || 0}}</span> records out of a total of
                <span class="record-count-value">{{
                    html.documentsList? html.documentsList?.Count : 0}}</span> are loaded</span>
        </div>
        <div class="panel-body" data-ng-if="ValidationMessages.length>0" data-pt-validation-messages="ValidationMessages"></div>
    </div>
</div>