<form [formGroup]="inputFormGroup">
  <div class="content-group form-horizontal">
    <div class="content-left">
      <div class="panel-internal">
        <div class="form-group">
          <div class="col-lg-12">
            <h4>Billing Taxes</h4>
          </div>
        </div>
        <div *ngFor="let billingInfo of inputFormGroup.controls.BillingInfoes.controls; let i = index;">
          <div *ngIf="billingInfo.controls.OrganizationIdClient.value > 0">
            <div class="form-group">
              <div class="col-lg-12">
                <p class="form-control-static">
                  <a routerLink="/next/organization/{{billingInfo.controls.OrganizationIdClient.value}}/details">
                    {{billingInfo.controls.OrganizationClientDisplayName.value}} -
                    {{billingInfo.controls.OrganizationIdClient.value}}</a>
                </p>
              </div>
            </div>
            <app-workorder-billing-taxes [readOnlyStorage]="readOnlyStorage" [inputFormGroup]="billingInfo" [editable]="editable" [organizationIdInternal]="inputFormGroup.controls.OrganizationIdInternal.value"
              (outputEvent)="onOutputEvent($event, i)"></app-workorder-billing-taxes>
          </div>
        </div>
      </div>
    </div>
    <div class="content-right">
      <div class="panel-internal">
        <div class="form-group">
          <div class="col-lg-12">
            <h4>Payment Taxes</h4>
          </div>
        </div>
        <div *ngFor="let paymentInfo of inputFormGroup.controls.PaymentInfoes.controls; let i=index">
          <div class="form-group">
            <div class="col-lg-12">
              <p class="form-control-static">
                <a *ngIf="paymentInfo.controls.OrganizationIdSupplier.value > 0" routerLink="/next/organization/{{paymentInfo.controls.OrganizationIdSupplier.value}}/details">
                  {{paymentInfo.controls.OrganizationSupplierDisplayName.value}} -
                  {{paymentInfo.controls.OrganizationIdSupplier.value}}</a>
                <a *ngIf="workerProfileTypeId==phxConstants.ProfileType.WorkerTemp" routerLink="/next/contact/{{workerContactId}}/profile/workertemp/{{userProfileIdWorker}}">
                  {{paymentInfo.controls.OrganizationSupplierDisplayName.value}}
                </a>
                <a *ngIf="workerProfileTypeId==phxConstants.ProfileType.WorkerCanadianSP" routerLink="/next/contact/{{workerContactId}}/profile/workercanadiansp/{{userProfileIdWorker}}">
                  {{paymentInfo.controls.OrganizationSupplierDisplayName.value}}
                </a>
              </p>
            </div>
          </div>
          <app-workorder-payment-taxes [readOnlyStorage]="readOnlyStorage" [inputFormGroup]="paymentInfo" [editable]="editable" [userProfileIdWorker]="userProfileIdWorker"
            [paymentInfoIndex]="i" [workerProfileTypeId]="workerProfileTypeId" [validateComplianceDraft]="validateComplianceDraft"
            (outputEvent)="onOutputEvent($event, i)"></app-workorder-payment-taxes>
        </div>
      </div>
    </div>
  </div>
</form>