<form [formGroup]="inputFormGroup" *ngIf="readOnlyStorage && inputFormGroup">
  <div class="panel-organization-tax-number">
    <div class="form-group">
      <div class="tax-type">
        <phx-form-control labelText="Type" [editable]="readOnlyStorage.IsEditable" [control]="inputFormGroup.controls.SalesTaxId"
          viewModeText="{{inputFormGroup.controls.SalesTaxId.value | lookupNoCache:listTaxTypes:'id':'text'}}">
          <app-phx-select-box [items]="listTaxTypes | filterSelectChoicesByUsage: selectedValues.value:inputFormGroup.value:'SalesTaxId': 'id' : 'text'"
            textField="text" valueField="id" [formControl]="inputFormGroup.controls.SalesTaxId">
          </app-phx-select-box>
        </phx-form-control>
      </div>
    </div>
    <div class="form-group">
      <phx-form-control [control]="inputFormGroup.controls.SalesTaxNumber" [editable]="readOnlyStorage.IsEditable" 
        labelText="Number" viewModeText="{{inputFormGroup.controls.SalesTaxNumber.value}}">
        <input formControlName="SalesTaxNumber" (ended)="test($event)" type="text" class="form-control" />
      </phx-form-control>
    </div>
    <div class="form-group">
      <phx-form-control>
        <button type="button" *ngIf="readOnlyStorage.IsEditable" class="btn btn-default btn-material right pull-right" (click)="onClickDeleteSalesTax()">
          <i class="material-icons">delete</i>
        </button>
      </phx-form-control>
    </div>
  </div>
</form>