<div class="contact-form" *ngIf="inputFormGroup">
  <div class="row">
    <div class="col-lg-12 col-sm-12 app-col-original form-horizontal">
      <div class="panel panel-internal panel-contact">
        <div class="contact-name">
          <div>
            <h4>Details</h4>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <phx-form-control labelText="Title" [editable]="readOnlyStorage.IsEditable" [control]="inputFormGroup.controls.PersonTitleId"
                  [layoutType]="layoutType.Stacked" viewModeText="{{inputFormGroup.controls.PersonTitleId.value | CodeValue:codeValueGroups.PersonTitle }}">
                  <app-phx-select-box [items]="listTitles" textField="text" valueField="id" [formControl]="inputFormGroup.controls.PersonTitleId"
                    placeholder="-- Select one --">
                  </app-phx-select-box>
                </phx-form-control>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <phx-form-control labelText="Pref Title" [editable]="readOnlyStorage.IsEditable" [control]="inputFormGroup.controls.PreferredPersonTitleId"
                  [layoutType]="layoutType.Stacked" viewModeText="{{inputFormGroup.controls.PreferredPersonTitleId.value | CodeValue:codeValueGroups.PersonTitle }}">
                  <app-phx-select-box [items]="listTitles" textField="text" valueField="id" [formControl]="inputFormGroup.controls.PreferredPersonTitleId"
                    placeholder="-- Select one --">
                  </app-phx-select-box>
                </phx-form-control>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <phx-form-control [control]="inputFormGroup.controls.FirstName" [editable]="readOnlyStorage.IsEditable"
                  [layoutType]="layoutType.Stacked" labelText="First Name" viewModeText="{{inputFormGroup.controls.FirstName.value}}">
                  <input [formControl]="inputFormGroup.controls.FirstName" type="text" class="form-control" maxlength="32" />
                </phx-form-control>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <phx-form-control [control]="inputFormGroup.controls.PreferredFirstName" [editable]="readOnlyStorage.IsEditable"
                  [layoutType]="layoutType.Stacked" labelText="Pref First Name" viewModeText="{{inputFormGroup.controls.PreferredFirstName.value}}">
                  <input [formControl]="inputFormGroup.controls.PreferredFirstName" type="text" class="form-control"
                    maxlength="32" />
                </phx-form-control>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <phx-form-control [control]="inputFormGroup.controls.LastName" [editable]="readOnlyStorage.IsEditable"
                  [layoutType]="layoutType.Stacked" labelText="Last Name" viewModeText="{{inputFormGroup.controls.LastName.value}}">
                  <input [formControl]="inputFormGroup.controls.LastName" type="text" class="form-control" maxlength="32" />
                </phx-form-control>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <phx-form-control [control]="inputFormGroup.controls.PreferredLastName" [editable]="readOnlyStorage.IsEditable"
                  [layoutType]="layoutType.Stacked" labelText="Pref Last Name" viewModeText="{{inputFormGroup.controls.PreferredLastName.value}}">
                  <input [formControl]="inputFormGroup.controls.PreferredLastName" type="text" class="form-control"
                    maxlength="32" />
                </phx-form-control>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <phx-form-control labelText="Preferred Language" [editable]="readOnlyStorage.IsEditable && isPreferredLanguageEditable"
                  [control]="inputFormGroup.controls.CultureId" [layoutType]="layoutType.Stacked" viewModeText="{{inputFormGroup.controls.CultureId.value | CodeValue:codeValueGroups.Culture }}">
                  <app-phx-select-box [items]="listCultureOptions" textField="text" valueField="id" [formControl]="inputFormGroup.controls.CultureId"
                    placeholder="-- select one --">
                  </app-phx-select-box>
                </phx-form-control>
                <div id='toolTip' class="col-md-1"
                  style="position: absolute;top: 8px;left: 146px;">
                  <i class='material-icons md-18'>info_outline</i>
                </div>
                <app-phx-tool-tip targetId="#toolTip">
                  <div style="text-align:left; width:200px; white-space: normal;">
                    This selection will set the application language for this user's account.<br />
                    This user may also modify this setting from the Manage Account page within FlexBackOffice
                  </div>
                </app-phx-tool-tip>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="col-lg-12">
                <label class="control-label">Login:</label>
                <span class="form-control-static col-xs-12 no-padding-h fieldViewMode">{{loginName}}</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <h4 style="padding-left:10px;">Collaborators</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="col-lg-12">
                <label class="control-label">Created By</label>
                <span class="form-control-static col-xs-12 no-padding-h fieldViewMode">{{inputFormGroup.controls.CreatedByName.value}}</span>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <div class="form-group" *ngIf="profile">
                  <label *ngIf="profile.SourceId !== null" class="control-label">Editor</label>
                  <label *ngIf="profile.SourceId === null" class="control-label">Last Edited By</label>
                  <span class="form-control-static col-xs-12 no-padding-h fieldViewMode">{{profile.EditorUserProfileName}}</span>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="form-group" data-pt-error-box="contact.currentContact.brokenRules"></div> -->
        </div>
      </div>
    </div>
  </div>
</div>