<div class="nav-container">
  <div class="row">
    <div class="col-xs-10 col-sm-6">
      <!--<p class="col-xs-3 col-md-2 no-padding-h-r sort-label">Sort by: </p>-->
      <div class="col-xs-3 col-sm-2 sort-label no-padding-h-r">
        <label class="control-label">Sort by: </label>
      </div>
      <div class="col-xs-9 col-sm-6 col-xl-5 no-padding-h">
        <select 
            class="form-control" >
            <option value="1">age oldest to newest</option>                                    
            <option value="2">
              age newest to oldest
            </option>
        </select>
      </div>
    </div>
  </div>
</div>
