@{
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
    ViewBag.Title = "Unsupported Browser";
}
<div class="account-container stacked unsupported-container">
    <div class="content clearfix">
        <h1>Oops!</h1>
        <div class="unsupported-inner">
            <div class="unsupported-computer"></div>
            <p class="unsupported-text">Your Browser is not supported</p>
            <hr />
            <p class="unsupported-upgrade">Please upgrade your browser to a recent version.</p>
            <div class="unsupported-table">
                <ul class="browser-list">
                    <li><a class="ie" href="https://www.microsoft.com/ie">Internet Explorer</a></li>
                    <li><a class="chrome" href="https://www.google.com/chrome/">Chrome</a></li>
                    <li><a class="firefox" href="https://www.mozilla.org/firefox">Firefox</a></li>
                    <li><a class="safari" href="https://www.apple.com/safari/">Safari</a></li>
                </ul>
            </div>
            <hr />
            <div class="backlink"><a href="/">flexbackoffice.com</a></div>
        </div>
    </div>
</div>