<div class="modal-content">
    <div class="modal-content">
        <div class="modal-header">
            <span class="modal-title">{{data.title}}</span>
        </div>
        <div class="modal-body">
            <div class="form-group" style="margin-top:24px;">
                <span>Do you want to remit records?</span>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
            <button type="button" class="btn btn-default" ng-click="download()">Remit and Save File</button>
            <button type="button" class="btn btn-primary" ng-click="continueRemittance()">Remit</button>
        </div>
        <div> </div>
    </div>
</div>