<div class="col-lg-2 row" style="margin:-18px 0 0 -5px; z-index:10;">
    <div class="btn-toolbar">
        <div class="btn-group">
            <button type="button" class="btn btn-clouds dropdown-toggle" data-toggle="dropdown" ng-disabled="(details.conflictRecords.length === 0 || details.lists.actionList.length === 0)">
                Actions...<span class="caret ml"></span>
            </button>
            <ul class="dropdown-menu bordered">
                <li style="cursor: pointer;"
                    data-ng-repeat="action in details.lists.actionList"
                    data-ng-click="details.onActionChange(action)"><a>{{action.Text}}</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="smart-table-wrapper" data-ng-init="details.initialize(document)">
    <div class="row vms-discount-pending-rows" data-cg-busy="details.busyPromise">
        <table data-st-table-struct='[{"stTableValue" : "details.items"}, {"stPipeValue" : "details.callServer"}, {"widthValues" : "[7, 9, 10, 9, 9, 9, 9, 9, 10, 10, 6, 12]"}, {"stPaginationValue" : "details.pageSize"}]'>
            <thead data-st-head="1600px">
                <tr>
                    <th data-st-sort="Id" data-st-sort-default="reverse">ID</th>
                    <th data-st-sort="ImportDate">Import Date</th>
                    <th data-st-sort="WorkOrderNumber">Work Order</th>
                    <th data-st-sort="FirstName">First Name</th>
                    <th data-st-sort="LastName">Last Name</th>
                    <th data-st-sort="Discount">Discount</th>
                    <th data-st-sort="StartDate">Start Date</th>
                    <th data-st-sort="EndDate">End Date</th>
                    <th data-st-sort="BillingTransactionNumber">Transaction No.</th>
                    <th data-st-sort="Note">Note</th>
                    <th data-st-sort="VmsDiscountImportedRecordTypeId">Status</th>
                    <th>Reason</th>
                </tr>
                <tr>
                    <th>
                        <input data-st-advanced-search="{property: 'Id', ignoreQuotes: true}" placeholder=""
                               class="input-sm form-control numberType" data-safe-restrict-input="[^0123456789]" />
                    </th>
                    <th>
                        <input data-st-advanced-search="'ImportDate'"
                               data-st-as-operator-override="'le'"
                               close-on-date-selection="false" show-button-bar="false" show-weeks="false" class="input-sm form-control"
                               data-st-as-lazy-attributes="{'uib-datepicker' : ApplicationConstants.formatDate}"
                               data-st-as-height-override="400"
                               data-st-as-width-override="315" />
                    </th>
                    <th>
                        <input data-st-advanced-search="'WorkOrderNumber'" placeholder="" class="input-sm form-control" type="search" />
                    </th>
                    <th>
                        <input data-st-advanced-search="'FirstName'" placeholder="" class="input-sm form-control" type="search" />
                    </th>
                    <th>
                        <input data-st-advanced-search="'LastName'" placeholder="" class="input-sm form-control" type="search" />
                    </th>
                    <th>
                        <input data-st-advanced-search="{property: 'Discount', ignoreQuotes: true, valueSuffix: 'M'}" placeholder=""
                               class="input-sm form-control numberType" data-safe-restrict-input="[^0123456789.]" />
                    </th>
                    <th>
                        <input data-st-advanced-search="'StartDate'"
                               data-st-as-operator-override="'le'"
                               close-on-date-selection="false" show-button-bar="false" show-weeks="false" class="input-sm form-control"
                               data-st-as-lazy-attributes="{'uib-datepicker' : ApplicationConstants.formatDate}"
                               data-st-as-height-override="400"
                               data-st-as-width-override="315" />
                    </th>
                    <th>
                        <input data-st-advanced-search="'EndDate'"
                               data-st-as-operator-override="'le'"
                               close-on-date-selection="false" show-button-bar="false" show-weeks="false" class="input-sm form-control"
                               data-st-as-lazy-attributes="{'uib-datepicker' : ApplicationConstants.formatDate}"
                               data-st-as-height-override="400"
                               data-st-as-width-override="315" />
                    </th>
                    <th>
                        <input data-st-advanced-search="'BillingTransactionNumber'" placeholder="" class="input-sm form-control" type="search" />
                    </th>
                    <th>
                        <input data-st-advanced-search="'Note'" placeholder="" class="input-sm form-control" type="search" />
                    </th>
                    <th>
                        <select data-st-advanced-search="{property: 'VmsDiscountImportedRecordTypeId', ignoreQuotes: true}" class="input-sm form-control">
                            <option value="1">To Process</option>
                            <option value="2">Conflict</option>
                            <option value="3">Discarded</option>
                            <option value="5">Completed</option>
                        </select>
                    </th>
                    <th>
                        <input data-st-advanced-search="'Reason'" placeholder="" class="input-sm form-control" type="search" />
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="item in details.items" data-ui-sref-tr="vms.batch.discount.details({vmsDiscountProcessedRecordId:item.Id})" style="cursor:pointer;"
ng-class="{success:item.VmsDiscountImportedRecordTypeId==ApplicationConstants.VmsImportedRecordType.ToProcess, warning:item.VmsDiscountImportedRecordTypeId==ApplicationConstants.VmsImportedRecordType.Conflict, danger:item.VmsDiscountImportedRecordTypeId==ApplicationConstants.VmsImportedRecordType.Discarded, 'app-vms-completed':item.VmsDiscountImportedRecordTypeId==ApplicationConstants.VmsImportedRecordType.Completed}"
                    >
                    <td ng-bind="::item.Id"></td>
                    <td ng-bind="::item.ImportDate | date:ApplicationConstants.formatDateComma"></td>
                    <td ng-bind="::item.WorkOrderNumber"></td>
                    <td ng-bind="::item.FirstName"></td>
                    <td ng-bind="::item.LastName"></td>
                    <td class="text-right" ng-bind="::item.Discount | vmsRate"></td>
                    <td ng-bind="::item.StartDate | date:ApplicationConstants.formatDateComma"></td>
                    <td ng-bind="::item.EndDate | date:ApplicationConstants.formatDateComma"></td>
                    <td ng-bind="::item.BillingTransactionNumber"></td>
                    <td ng-bind="::item.Note"></td>
                    <td ng-bind="::item.VmsDiscountImportedRecordTypeId | lookup : details.vmsTypes"></td>
                    <td ng-bind-html="::item.Reason"></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="8">
                        <span>Total Count: {{details.totalItemCount || 0}}; Items Loaded: {{ details.items ? details.items.length : 0}}</span>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<div class="skippedHeader">
    <h4>Discarded Discount Records</h4>
</div>
<div class="col-lg-12 vms-skipped-records">
    <div class="row" data-cg-busy="details.loadSkippedPromise">
        <div class="panel panel-internal panel-contact">
            <div class="contact-name">
                <table class="table">
                    <thead class="my-thead">
                        <tr>
                            <th class="vms-skipped0">ID</th>
                            <th class="vms-skipped-date0">Import Date</th>
                            <th class="vms-skipped-text0">Work Order</th>
                            <th class="vms-skipped-text0">First Name</th>
                            <th class="vms-skipped-text0">Last Name</th>
                            <th class="vms-skipped-total0">Discount</th>
                            <th class="vms-skipped-date0">Start Date</th>
                            <th class="vms-skipped-date0">End Date</th>
                            <th class="vms-skipped-text0">Transaction No.</th>
                            <th class="vms-skipped-desc0">Note</th>
                            <th class="vms-skipped-total0">Status</th>
                            <th class="vms-skipped-desc0">Reason</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="item in details.skippedRecords" style="cursor:pointer" class="danger">
                            <td class="vms-skipped0" ng-bind="::item.Id"></td>
                            <td class="vms-skipped-date0" ng-bind="::item.ImportDate | date:ApplicationConstants.formatDateComma"></td>
                            <td class="vms-skipped-text0" ng-bind="::item.WorkOrderNumber"></td>
                            <td class="vms-skipped-text0" ng-bind="::item.FirstName"></td>
                            <td class="vms-skipped-text0" ng-bind="::item.LastName"></td>
                            <td class="text-right vms-skipped-total0" ng-bind="::item.Discount | vmsRate"></td>
                            <td class="vms-skipped-date0" ng-bind="::item.StartDate | date:ApplicationConstants.formatDateComma"></td>
                            <td class="vms-skipped-date0" ng-bind="::item.EndDate | date:ApplicationConstants.formatDateComma"></td>
                            <td class="vms-skipped-text0" ng-bind="::item.BillingTransactionNumber"></td>
                            <td class="vms-skipped-desc0" ng-bind="::item.Note"></td>
                            <td class="vms-skipped-total0" ng-bind="::item.VmsDiscountImportedRecordTypeId | lookup : details.vmsTypes"></td>
                            <td class="vms-skipped-desc0" ng-bind-html="::item.Reason"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="skippedLength">
    <span>Total Discarded Count: {{details.skippedRecords.length}}
</span>
</div>
<!--<div dat
    a-</span>
</div>
<!--<div data-ng-if="details.skippedRecords.length>0" class="skippedLength">
    <span>Total Discarded Count: {{details.skippedRecords.length}}</span>
</div>-->
<!--<div data-ng-if="details.skippedRecords.length==0" class="emptyVms">
    <span>There are no VMS Discount Discarded Records to show</span>
</div>-->
