<div class="container" style="width: 100%;">

  <form #paymentReportForm="ngForm" novalidate>

    <div class="form-group row" *ngIf="isInternal">
      <div class="col-lg-9 col-md-9 pull-left">
        <label class="col-lg-2 col-md-2 control-label label-to-right">{{paymentModuleResourceKeys.ytdEarning.worker | phxTranslate}}:</label>
        <div class="col-lg-8 col-md-8">
          <app-phx-select-box [items]="workerProfiles" [(ngModel)]="WorkerProfileId" valueField="Id" textField="WorkerProfileTextField" placeholder="--- Select One ---"
            name="workerSelect" required>
          </app-phx-select-box>
        </div>
      </div>
    </div>
    
    <div class="form-group row">  
      <div class="col-lg-9 col-md-9">
        <label class="col-lg-2 col-md-2 control-label label-to-right">{{paymentModuleResourceKeys.ytdEarning.startingDate | phxTranslate}}:</label>
        <div class="col-lg-4 col-md-4">
          <app-phx-date-box [(ngModel)]="startDate" displayFormat="monthAndYear" (onValueChanged)="onStartDateChange($event)" maxZoomLevel="year" minZoomLevel="century"
            name="startDateSelect" required>
          </app-phx-date-box>
        </div>
        <label class="col-lg-2 col-md-2 control-label label-to-right">{{paymentModuleResourceKeys.ytdEarning.endingDate | phxTranslate}}:</label>
        <div class="col-lg-4 col-md-4">
          <app-phx-date-box [min]='startDate' [(ngModel)]="endDate" displayFormat="monthAndYear" maxZoomLevel="year" minZoomLevel="century"
          name="endDateSelect" required>
          </app-phx-date-box>
        </div>
      </div>
      
      <div class="col-lg-3 col-md-3 pull-right" style="padding-right: 10px;">
        <button class="btn btn-default" (click)="export()" [disabled]="!isExportEnable">{{paymentModuleResourceKeys.ytdEarning.export | phxTranslate}}</button>
        <button class="btn btn-primary" (click)="getReport()" [disabled]="!paymentReportForm.form.valid">{{paymentModuleResourceKeys.ytdEarning.getReport | phxTranslate}}</button>
      </div>
    
    </div>
  </form>

</div>



<div class="row" *ngIf="ytdEarningDetails">
  <div class="col-xs-12 ytd-earnings-nav">
    <app-phx-navigation-bar #navBar (onTabSelected)="onTabSelected($event)" [navigationBarContent]="tabList"></app-phx-navigation-bar>
  </div>
  <div class="col-xs-12 ytd-earnings-body">
    <app-payment-ytd-earnings-details *ngIf="navBar.activeTab?.Name=='details'" [fnGetInternalOrgLookup]="getInternalOrgLookupCallback"
      [data]="ytdEarningDetails"></app-payment-ytd-earnings-details>
    <app-payment-ytd-earnings-summary [userInfo] = "userInfo" [data]='ytdEarningDetails' *ngIf="navBar.activeTab?.Name=='summary'"></app-payment-ytd-earnings-summary>
  </div>
</div>