<div class="account-container stacked" *ngIf="!isLoading">
  <div class="content clearfix" *ngIf="!tokenObj">
    <p>{{ 'account.register.genericErrorMessage' | phxTranslate }}</p>
  </div>
  <div class="content clearfix margin-10-v-t">
    <form [formGroup]="form" (ngSubmit)="register()">
      <div class="login-fields">
        <div class="field text-center">
          <img class="margin-10-v" src="/assets/logo-flex-backoffice.png" alt="logo" />
        </div>
        <div class="field">
          <label name="UserEmail" class="text-gray control-label">{{ 'account.register.usernameLabel' | phxTranslate }}</label>
          <input type="text" readonly="readonly" class="form-control input-lg" formControlName="email" />
        </div>
        <div class="field">
          <label name="Password" class="text-gray control-label">{{ 'account.register.pwdLabel' | phxTranslate }}</label>
          <input type="password" class="form-control input-lg" formControlName="password" />
        </div>
        <div class="field">
          <label for="confirmPassword" class="text-gray control-label">{{ 'account.register.confirmPwdLabel' |
            phxTranslate }}</label>
          <input type="password" class="form-control input-lg" formControlName="confirmPassword" />
        </div>
        <div class="field">
          <label for="language" class="text-gray control-label">{{ 'account.register.languageLabel' | phxTranslate }}</label>
          <app-phx-select-box #culture [items]="cultureList" textField="text" valueField="id" formControlName="cultureId">
          </app-phx-select-box>
        </div>
      </div>
      <div class="login-actions">
        <span id="loading" style="display: none;">Loading </span>
        <button [disabled]="!form.valid" class="login-action btn btn-primary">Register</button>
      </div>
      <div class="login-recover alert alert-danger margin-top-20 margin-left-10" *ngIf="validationMessages.length > 0">
          <div *ngFor="let error of validationMessages">
            {{error}}
          </div>
      </div>
    </form>
  </div>
</div>