<div class="row">
  <div class="col-lg-12">
    <div class="">
      <div class="tab-content">
        <div class="tab-pane active">
          <div class="">
            <div class="panel-heading headstone">
              <div class="row" *ngIf="record">
                <div class="col-lg-1"></div>
                <div class="col-lg-2">
                  <label class="text-gray col-xs-12">File Name</label>
                  <span class=" col-xs-12">{{ record.FileName }}</span>
                </div>
                <div class="col-lg-3">
                  <label class="text-gray col-xs-12">Client</label>
                  <span class=" col-xs-12">{{ record.OrganizationClient }}</span>
                </div>
                <div class="col-lg-2">
                  <label class="text-gray col-xs-12">Process Date</label>
                  <span class=" col-xs-12">{{ record.ImportDate | date: dateFormat }}</span>
                </div>
                <div class="col-lg-2">
                  <label class="text-gray col-xs-12">Status</label>
                  <span class=" col-xs-12">{{ record.FileStatus | CodeValue: codeValueGroups.VmsDocumentStatus }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>