<div class="slider-content">
    <div class="sliderHeader">

    </div>
    <div class="sliderBody" id="paymentSliderBody">
        <div class="row">
            <div class="col-lg-5">
                
            </div>
            <div col-lg-7>
                <iframe id="paymentReport"></iframe>
            </div>
        </div>       
    </div>
    <div class="sliderFooter" id="paymentSliderFooter">
        <div class="form-group">
            <div class="pull-right">
                <button type="button" ng-click="close()" class="btn btn-primary">Close</button>
            </div>
        </div>
    </div>
</div>

