<div class="modal-content" data-ng-form="formPaymentBatchDialog">
    <div class="modal-content">
        <div class="modal-header">
            <span class="modal-title">{{data.title}}</span>
            <div class="btn pull-right paymentBatchClose" data-ng-click="cancel()"><i class="fontello-icon-cancel-circle"></i></div>
        </div>
        <div class="modal-body">
            <div class="content-group form-horizontal">
                <div class="form-group col-lg-12">
                    <div class="paymentDialogTitle col-lg-8">Total Payment Amount:<span class="paymentDialogSp">{{data.amount | currency: data.currency + " $"}}</span></div>
                </div>
                <div class="form-group col-lg-12" style="margin-top:25px;" data-ng-if="data.paymentMethodId == ApplicationConstants.PaymentMethodType.Cheque">
                    <div class="paymentDialogBatchNo col-lg-8">Tentative Cheque Number:<span class="paymentDialogSp">{{data.chequeNo ? data.chequeNo : 'N/A' }}</span></div>
                </div>
                <div class="form-group col-lg-12" style="margin-top:25px;" data-ng-if="data.paymentMethodId == ApplicationConstants.PaymentMethodType.DirectDeposit">
                    <div class="paymentDialogBatchNo col-lg-8">Tentative Batch Number:<span class="paymentDialogSp">{{data.directDepositBatchNo ? data.directDepositBatchNo : 'N/A' }}</span></div>
                </div>
                <div class="form-group col-lg-12" style="margin-top:25px;" data-ng-if="data.paymentMethodId === ApplicationConstants.PaymentMethodType.WireTransfer">
                    <div class="paymentDialogBatchNo col-lg-8">Tentative Batch Number:<span class="paymentDialogSp">{{data.wireTransferBatchNo ? data.wireTransferBatchNo : 'N/A' }}</span></div>
                </div>
                <div class="form-group col-lg-12" style="margin-top:24px;" data-ng-if="data.paymentMethodId != ApplicationConstants.PaymentMethodType.ADP">
                    <label for-property="PayFrom" for="PayFrom" model-property="data.bankId" class="control-label col-lg-4 label-to-right req-lab-right" data-original-title="" title="">Pay From</label>
                    <div class="input-group select2-bootstrap-append col-lg-6" style="padding-left:10px;">
                        <ui-select name="PayFrom" data-ng-model="data.bankId" theme="select2" class="form-control" required data-ng-change="bankChanged(data.bankId)">
                            <ui-select-match placeholder="Select Bank Account">{{$select.selected.fullName}}</ui-select-match>
                            <ui-select-choices repeat="item.id as item in data.bankAccounts | uiSelectChoicesFilter: $select.search: 'text': 'id'">
                                <span data-ng-bind-html="item.fullName | highlight: $select.search"></span>
                            </ui-select-choices>
                        </ui-select>
                        <span class="input-group-btn">
                            <button tabindex="-1" data-ng-click="data.bankId=undefined;bankChanged(data.bankId)" class="btn btn-default"><i class="material-icons md-18">clear</i></button>
                        </span>
                    </div>
                </div>
                <div class="form-group col-lg-12" style="margin-top:28px;" data-ng-if="data.paymentMethodId == ApplicationConstants.PaymentMethodType.DirectDeposit || data.paymentMethodId === ApplicationConstants.PaymentMethodType.WireTransfer || data.paymentMethodId === ApplicationConstants.PaymentMethodType.ADP">
                    <label for-property="DepositDate" for="DepositDate" data-model-property="data.depositDate" class="col-lg-4 control-label label-to-right req-lab-right" data-original-title="" title="">Deposit Date</label>
                    <div class="col-lg-6">
                        <pt-date-picker data-ng-model="data.depositDate" name="DepositDate" data-ng-required="true" data-required-message="Required" />
                    </div>
                </div>
                <div class="emptyBankList col-lg-12" data-ng-show="emptyMessageToShow">
                    <span class="col-lg-4"></span>
                    <span class="col-lg-8">{{data.emptyBankListMessage}}</span>
                </div>
                <br />
                <div data-ng-if="data.selectedGarnisheePayToCount > 0">
                    <div class="form-group col-lg-12" style="margin-top:25px;">
                        <label class="no-padding-v control-label col-lg-4 label-to-right">Garnishee Count</label>
                        <label class="col-lg-8">{{ data.selectedGarnisheePayToCount }}</label>
                    </div>
                    <div class="form-group col-lg-12" style="margin-top:25px;">
                        <label for-property="GarnisheePayFrom" for="GarnisheePayFrom" model-property="data.garnisheeBankAccountId" class="control-label col-lg-4 label-to-right req-lab-right" data-original-title="" title="">Pay Garnishees From</label>
                        <div class="input-group select2-bootstrap-append col-lg-6" style="padding-left:10px;">
                            <ui-select name="GarnisheePayFrom" data-ng-model="data.garnisheeBankAccountId" theme="select2" class="form-control" required data-ng-change="garnisheeBankChanged(data.garnisheeBankAccountId)">
                                <ui-select-match placeholder="Select Garnishee Bank Account">{{$select.selected.fullName}}</ui-select-match>
                                <ui-select-choices repeat="item.id as item in data.bankAccounts | uiSelectChoicesFilter: $select.search: 'text': 'id'">
                                    <span data-ng-bind-html="item.fullName | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                                <button tabindex="-1" data-ng-click="data.garnisheeBankAccountId=undefined;garnisheeBankChanged(data.garnisheeBankAccountId)" class="btn btn-default"><i class="material-icons md-18">clear</i></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
            <button type="button" class="btn btn-primary" ng-click="create()" data-ng-disabled="!formPaymentBatchDialog.$valid || data.chequeNo <= 0 ||  (!(data.chequeNo && data.directDepositBatchNo && data.wireTransferBatchNo) && data.paymentMethodId != ApplicationConstants.PaymentMethodType.ADP)">Create</button>
        </div>
    </div>
</div>