<div class="row">
  <div class="col-xs-12">
    <div class="btn-group desktop-view">
      <button class="btn btn-xs rounded btn-default" (click)="clearTimeSheet()" [disabled]="!timeSheet?.IsEditable || isDetailsSaving" *ngIf="timeSheet?.IsEditable">
      {{'common.generic.clear' | phxTranslate}}
    </button>
      <button class="btn btn-xs rounded btn-default" (click)="printTimeSheet()" [disabled]="isDetailsSaving" *ngIf="hasPrint">
      {{'common.generic.print' | phxTranslate}}
    </button>
    </div>

    <div class="btn-group mobile-view pull-right" dropdown>
      <button dropdownToggle type="button" class="btn dropdown-toggle">
      {{'common.generic.actions' | phxTranslate}} <span class="caret"></span>
    </button>
      <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
        <li role="menuitem" [ngClass]='{ disabled: !timeSheet?.IsEditable || isDetailsSaving }' (click)="$event.currentTarget.classList.contains('disabled') || clearTimeSheet()">
          <a class="dropdown-item" href="javascript:void(0)">{{'common.generic.clear' | phxTranslate}}</a>
        </li>
        <li class="divider dropdown-divider" *ngIf="hasPrint"></li>
        <li role="menuitem" [ngClass]='{ disabled: isDetailsSaving }' (click)="$event.currentTarget.classList.contains('disabled') || printTimeSheet()" *ngIf="hasPrint">
          <a class="dropdown-item" href="javascript:void(0)">{{'common.generic.print' | phxTranslate}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>