<div class="modal-header">
    <h4>Change Password</h4>
</div>
<div class="modal-body">
    <form name="passwordForm" class="form-horizontal" pt-dirty-prompt="">
        <ul>
            <li data-ng-repeat="error in getErrorSummary()">{{error}}</li>
        </ul>
        <fieldset>
            <legend>Change Password</legend>
            <ul class="form-list label-left">
                <li class="section-form">Current Password</li>
                <li data-pt-form-item="">
                    <label for="OldPassword" data-pt-field-error="">Current</label>
                    <input type="password" class="span3" name="OldPassword" data-ng-model="password.OldPassword">
                </li>

            </ul>
            <ul class="form-list label-left">
                <li class="section-form">New Password</li>
                <li data-pt-form-item="">
                    <label for="NewPassword" data-pt-field-error="">New Password</label>
                    <input type="password" class="span3" name="NewPassword" data-ng-model="password.NewPassword">
                </li>
                <li data-pt-form-item="">
                    <label for="ConfirmPassword" data-pt-field-error="">Confirm</label>
                    <input type="password" class="span3" name="ConfirmPassword" data-ng-model="password.ConfirmPassword">
                </li>
            </ul>
        </fieldset>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" data-ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" data-ng-click="changePassword(password)">Change</button>
</div>
