<div class="content-group">
  <div class="content-left">
    <div class="panel-internal" *ngFor="let bill of transaction.TransactionCalculation.AmountSummary.AmountSummaryBills">
      <div class="form-group">
        <div class="col-xs-12 padding-10px">
          <a routerLink="/next/organization/{{bill.OrganizationIdClient}}/details">{{bill.OrganizationClientLegalName}}
            - {{bill.OrganizationIdClient}}</a>
        </div>
      </div>
      <div class="form-group"> 
        <div class="col-xs-12">
            <p class="h4">
              Billing Transaction Payment Status: {{bill.BillingTransactionPaymentStatus | lookupNoCache: html.lists.ARStatuses: 'id': 'text'}}
            </p>
        </div>
    </div>
      <div class="form-group">
        <div class="col-xs-6">
          <p class="h4">Pre-tax Billing</p>
        </div>
        <div class="col-xs-6">
          <p class="h4 pull-right">
            {{transaction.CurrencyCode}}
            {{bill.Amount_BillTotalPreTax
            | pxCurrencyFormatter}}
          </p>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-6">
          <p class="h4">Sales Tax</p>
        </div>
        <div class="col-xs-6">
          <p class="h4 pull-right">
            {{transaction.CurrencyCode}}
            {{bill.Amount_BillTotalSalesTax
            | pxCurrencyFormatter}}
          </p>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12">
          <p class="h4">&nbsp;</p>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12">
          <hr />
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-6">
          <p class="h4">Total</p>
        </div>
        <div class="col-xs-6">
          <p class="h4 pull-right">
            {{transaction.CurrencyCode}}
            {{bill.Amount_BillTotalAll
            | pxCurrencyFormatter}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="content-right">
    <div class="panel-internal" *ngFor="let payee of transaction.TransactionCalculation.AmountSummary.AmountSummaryPayees">
      <div class="form-group">
        <div class="col-xs-12 padding-10px" *ngIf="html.worker">
          <a *ngIf="payee.PayeeOrganizationIdSupplier>0"
            routerLink="/next/organization/{{payee.PayeeOrganizationIdSupplier}}/details">
            {{payee.PayeeName}}
            - {{payee.PayeeOrganizationIdSupplier}}</a>
          <span *ngIf="payee.PayeeUserProfileWorkerId>0">
            <a *ngIf="html.worker.ProfileTypeId===html.phxConstants.UserProfileType.Organizational"
              routerLink="/next/contact/{{html.worker.ContactId}}/profile/organizational/{{html.worker.Id}}">
              {{html.worker.Contact.PreferredFirstName}} {{html.worker.Contact.PreferredLastName}} - {{html.worker.ContactId}} (Organizational
              - {{html.worker.Id}})</a>
            <a *ngIf="html.worker.ProfileTypeId===html.phxConstants.UserProfileType.Internal"
              routerLink="/next/contact/{{html.worker.ContactId}}/profile/internal/{{html.worker.Id}}">
              {{html.worker.Contact.PreferredFirstName}} {{html.worker.Contact.PreferredLastName}} - {{html.worker.ContactId}} (Internal -
              {{html.worker.Id}})</a>
            <a *ngIf="html.worker.ProfileTypeId===html.phxConstants.UserProfileType.WorkerTemp"
              routerLink="/next/contact/{{html.worker.ContactId}}/profile/workertemp/{{html.worker.Id}}">
              {{html.worker.Contact.PreferredFirstName}} {{html.worker.Contact.PreferredLastName}} - {{html.worker.ContactId}} (Worker Temp -
              {{html.worker.Id}})</a>
            <a *ngIf="html.worker.ProfileTypeId===html.phxConstants.UserProfileType.WorkerCanadianSp"
              routerLink="/next/contact/{{html.worker.ContactId}}/profile/workercanadiansp/{{html.worker.Id}}">
              {{html.worker.Contact.PreferredFirstName}} {{html.worker.Contact.PreferredLastName}} - {{html.worker.ContactId}} (Worker
              Canadian SP - {{html.worker.Id}})</a>
            <a *ngIf="html.worker.ProfileTypeId===html.phxConstants.UserProfileType.WorkerCanadianInc"
              routerLink="/next/contact/{{html.worker.ContactId}}/profile/workercanadianinc/{{html.worker.Id}}">
              {{html.worker.Contact.PreferredFirstName}} {{html.worker.Contact.PreferredLastName}} - {{html.worker.ContactId}} (Worker
              Canadian Inc - {{html.worker.Id}})</a>
            <a *ngIf="html.worker.ProfileTypeId===html.phxConstants.UserProfileType.WorkerSubVendor"
              routerLink="/next/contact/{{html.worker.ContactId}}/profile/workersubvendor/{{html.worker.Id}}">
              {{html.worker.Contact.PreferredFirstName}} {{html.worker.Contact.PreferredLastName}} - {{html.worker.ContactId}} (Worker
              Sub-Vendor - {{html.worker.Id}})</a>
            <a *ngIf="html.worker.ProfileTypeId===html.phxConstants.UserProfileType.WorkerUnitedStatesW2"
              routerLink="/next/contact/{{html.worker.ContactId}}/profile/workerunitedstatesw2/{{html.worker.Id}}">
              {{html.worker.Contact.PreferredFirstName}} {{html.worker.Contact.PreferredLastName}} - {{html.worker.ContactId}} (Worker W2 -
              {{html.worker.Id}})</a>
            <a *ngIf="html.worker.ProfileTypeId===html.phxConstants.UserProfileType.WorkerUnitedStatesLLC"
              routerLink="/next/contact/{{html.worker.ContactId}}/profile/workerunitedstatesllc/{{html.worker.Id}}">
              {{html.worker.Contact.PreferredFirstName}} {{html.worker.Contact.PreferredLastName}} - {{html.worker.ContactId}} (Worker LLC -
              {{html.worker.Id}})</a>
          </span>
        </div>
      </div>
      <div class="form-group"> 
          <div class="col-xs-12">
              <p class="h4">
                  Planned Release Date: 
                  <span *ngIf="payee.PlannedReleaseDate">
                    {{payee.PlannedReleaseDate | date: html.phxConstants.DateFormat.mediumDate}}
                  </span>
                  <span *ngIf="!payee.PlannedReleaseDate">
                    N/A
                  </span>
                  <span *ngIf="transaction?.IsPaymentStopped" class="warning-visual-cue"><i class="material-icons md-18">warning</i>Stop Payment</span>
              </p>
          </div>
      </div>
      <div class="form-group">
        <div class="col-xs-6">
          <p class="h4">Pre-tax Payment</p>
        </div>
        <div class="col-xs-6">

          <p class="h4 pull-right">
            {{transaction.CurrencyCode}}
            {{payee.Amount_TotalPaymentPreTax
            | pxCurrencyFormatter}}
          </p>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-6">
          <p class="h4">Sales Tax</p>
        </div>
        <div class="col-xs-6">
          <p class="h4 pull-right">
            {{transaction.CurrencyCode}}
            {{payee.Amount_TotalPaymentSalesTax
            | pxCurrencyFormatter}}
          </p>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-6">
          <p class="h4">Deductions</p>
        </div>
        <div class="col-xs-6">
          <p class="h4 pull-right">
            {{transaction.CurrencyCode}}
            {{payee.Amount_TotalDeductionsAndAdvancesAndGarneshees
            | pxCurrencyFormatter}}
          </p>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12">
          <hr />
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-6">
          <p class="h4">Total</p>
        </div>
        <div class="col-xs-6">
          <p class="h4 pull-right">
            {{transaction.CurrencyCode}}
            {{payee.Amount_PayeeTotalAll
            | pxCurrencyFormatter}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>