<div data-ng-form="formPaymentMethod">
    <div class="form-group">
        <div class="col-lg-8">
            <h4>Payment Methods</h4>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-3 col-md-3 col-sm-3 control-label label-to-right" data-ng-class="scopeOrg.actionScope.event.role.limitedLiabilityCompany.hasOrganizationLimitedLiabilityCompanyRolePaymentMethod || !scopeOrg.entity.AreComplianceFieldsRequired? 'req-lab-right-valid' : 'req-lab-right'">Payment method</label>
        <div class="col-sm-9">
            <div data-ng-repeat="paymentMethod in scopeOrg.entity.OrganizationLimitedLiabilityCompanyRoles[0].PaymentMethods"
                style="padding-top: 7px">
                <input type="checkbox" name="OrganizationPaymentMethodIsSelected" data-ng-model="paymentMethod.IsSelected" data-ng-change="scopeOrg.actionScope.event.role.limitedLiabilityCompany.onChangePaymentMethod(paymentMethod)"
                    data-pt-field-view="scopeOrg.ptFieldViewConfigOnChangeStatusId" data-pt-field-view-model-validation="{ { paymentMethod.PaymentMethodTypeId } }"
                    data-ng-required="!scopeOrg.actionScope.event.role.limitedLiabilityCompany.hasOrganizationLimitedLiabilityCompanyRolePaymentMethod && scopeOrg.entity.AreComplianceFieldsRequired"
                />
                <span>&nbsp;{{paymentMethod.PaymentMethodTypeId|lookupnocache:scopeOrg.lists.paymentMethodList:'id':'text'}}</span>
            </div>
        </div>
    </div>
    <br>
    <!--<div class="form-group org-payment-chk">
        <label class="col-lg-3  col-md-3 col-sm-3 control-label label-to-right"
               data-ng-class="scopeOrg.actionScope.event.role.limitedLiabilityCompany.hasOrganizationRolePaymentReference ? 'req-lab-right-valid' : 'req-lab-right'">Payment preference</label>
        <div data-ng-repeat="paymentMethod in scopeOrg.entity.OrganizationLimitedLiabilityCompanyRoles[0].PaymentMethods" class="col-lg-2  col-md-3 col-sm-3" style="padding-top: 7px">
            <div data-ng-if="scopeOrg.entity.IsDraftStatus">
                <input type="radio" name="OrganizationPaymentMethodIsPreferred"
                       data-ng-value="true"
                       data-ng-model="paymentMethod.IsPreferred"
                       data-ng-change="scopeOrg.actionScope.event.role.limitedLiabilityCompany.onChangePaymentPreference(paymentMethod)"
                       data-ng-required="!scopeOrg.actionScope.event.role.limitedLiabilityCompany.hasOrganizationRolePaymentReference"
                       data-pt-field-view="scopeOrg.ptFieldViewConfigOnChangeStatusId"
                       data-pt-field-view-model-validation="{ { paymentMethod.PaymentMethodTypeId } }" ng-disabled="!paymentMethod.IsSelected" />
                <span>&nbsp;{{paymentMethod.PaymentMethodTypeId|lookupnocache:scopeOrg.lists.paymentMethodList:'id':'text'}}</span>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-6" data-ng-if="!scopeOrg.entity.IsDraftStatus">
                <span data-ng-if="paymentMethod.IsPreferred">Yes</span>
                <span data-ng-if="!paymentMethod.IsPreferred">No</span>
            </div>
        </div>
    </div>-->

    <div class="form-group">
        <label data-ng-class="scopeOrg.actionScope.event.role.limitedLiabilityCompany.hasOrganizationRolePaymentReference || !scopeOrg.entity.AreComplianceFieldsRequired ? 'req-lab-right-valid' : 'req-lab-right'"
            class="col-lg-3  col-md-3 col-sm-3 control-label label-to-right" data-original-title="" title="">Payment preference</label>
        <div class="col-lg-7 col-md-7 col-xs-7">
            <div class="input-group select2-bootstrap-append">
                <ui-select name="OrganizationLimitedLiabilityPaymentMethodTypeId" data-ng-model="scopeOrg.entity.OrganizationLimitedLiabilityPaymentMethodTypeId"
                    theme="select2" class="form-control" data-pt-field-view="scopeOrg.ptFieldViewConfigOnChangeStatusId" data-ng-change="$select.selected.IsPreferred=true;scopeOrg.actionScope.event.role.limitedLiabilityCompany.onChangePaymentPreference($select.selected)"
                    data-pt-field-view-custom="{{scopeOrg.entity.OrganizationLimitedLiabilityPaymentMethodTypeId | lookupnocache:scopeOrg.entity.OrganizationLimitedLiabilityCompanyRoles[0].PaymentMethods:'PaymentMethodTypeId'}}">
                    <ui-select-match placeholder="-- Select One --">{{$select.selected.text}} </ui-select-match>
                    <ui-select-choices repeat="item.PaymentMethodTypeId as item in scopeOrg.entity.OrganizationLimitedLiabilityCompanyRoles[0].PaymentMethods | filter:{IsSelected: true} | uiSelectChoicesFilter: $select.search: 'text'">
                        <span data-ng-bind-html="item.text | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>
                <span class="input-group-btn">
                    <button tabindex="-1" data-ng-click="scopeOrg.entity.OrganizationLimitedLiabilityPaymentMethodTypeId=undefined" class="btn btn-default">
                        <i class="material-icons md-18">clear</i>
                    </button>
                </span>
            </div>
        </div>

    </div>

    <!--<div class="form-group">
        <label class="col-lg-3 control-label label-to-right"
               data-ng-class="scopeOrg.actionScope.event.role.limitedLiabilityCompany.hasOrganizationLimitedLiabilityCompanyRolePaymentMethod ? 'req-lab-right-valid' : 'req-lab-right'">Payment method</label>
        <label class="col-lg-4 control-label label-to-right"
               data-ng-class="scopeOrg.actionScope.event.role.limitedLiabilityCompany.hasOrganizationRolePaymentReference ? 'req-lab-right-valid' : 'req-lab-right'">Payment preference</label>
    </div>
    <div class="form-group org-payment-chk">
            <div data-ng-repeat="paymentMethod in scopeOrg.entity.OrganizationLimitedLiabilityCompanyRoles[0].PaymentMethods" class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-4 col-md-6 col-xs-6">
                    <input type="checkbox" name="OrganizationPaymentMethodIsSelected"
                           data-ng-model="paymentMethod.IsSelected"
                           data-ng-change="scopeOrg.actionScope.event.role.limitedLiabilityCompany.onChangePaymentMethod(paymentMethod)"
                           data-pt-field-view="scopeOrg.ptFieldViewConfigOnChangeStatusId"
                           data-pt-field-view-model-validation="{ { paymentMethod.PaymentMethodTypeId } }"
                           data-ng-required="!scopeOrg.actionScope.event.role.limitedLiabilityCompany.hasOrganizationLimitedLiabilityCompanyRolePaymentMethod" />
                    <span>&nbsp;{{paymentMethod.PaymentMethodTypeId|lookupnocache:scopeOrg.lists.paymentMethodList:'id':'text'}}</span>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-6" data-ng-if="scopeOrg.entity.IsDraftStatus">
                    <input type="radio" name="OrganizationPaymentMethodIsPreferred"
                           data-ng-value="true"
                           data-ng-model="paymentMethod.IsPreferred"
                           data-ng-change="scopeOrg.actionScope.event.role.limitedLiabilityCompany.onChangePaymentPreference(paymentMethod)"
                           data-ng-required="!scopeOrg.actionScope.event.role.limitedLiabilityCompany.hasOrganizationRolePaymentReference"
                           data-pt-field-view="scopeOrg.ptFieldViewConfigOnChangeStatusId"
                           data-pt-field-view-model-validation="{ { paymentMethod.PaymentMethodTypeId } }" />
                </div>
                <div class="col-lg-6" data-ng-if="!scopeOrg.entity.IsDraftStatus">
                    <span data-ng-if="paymentMethod.IsPreferred">Yes</span>
                    <span data-ng-if="!paymentMethod.IsPreferred">No</span>
                </div>
            </div>
    </div>-->




    <div data-ng-repeat="paymentMethod in scopeOrg.entity.OrganizationLimitedLiabilityCompanyRoles[0].PaymentMethods">
        <div data-ng-if="paymentMethod.PaymentMethodTypeId==ApplicationConstants.PaymentMethodType.DirectDeposit && paymentMethod.IsSelected">
            <div class="form-group">
                <div class="col-lg-12">
                    <h4>Direct Deposit</h4>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label label-to-right req-lab-right" for="PaymentMethodDirectDepositBankCode" data-model-property="paymentMethod.BankCode">Bank Code</label>
                <div class="col-lg-7">
                    <div>
                        <input type="text" name="PaymentMethodDirectDepositBankCode" class="form-control ng-pristine ng-valid" maxlength="30" ng-minlength="3"
                            ng-maxlength="30" data-ng-model="paymentMethod.BankCode" data-ng-required="paymentMethod.PaymentMethodTypeId==ApplicationConstants.PaymentMethodType.DirectDeposit && scopeOrg.entity.AreComplianceFieldsRequired"
                            data-pt-field-view="scopeOrg.ptFieldViewConfigOnChangeStatusId" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label label-to-right req-lab-right" for="PaymentMethodDirectDepositBankBranchCode" data-model-property="paymentMethod.BankBranchCode">Bank Branch Code</label>
                <div class="col-lg-7">
                    <div>
                        <input type="text" name="PaymentMethodDirectDepositBankBranchCode" class="form-control ng-pristine ng-valid" maxlength="30"
                            ng-minlength="3" ng-maxlength="30" data-ng-model="paymentMethod.BankBranchCode" data-ng-required="paymentMethod.PaymentMethodTypeId==ApplicationConstants.PaymentMethodType.DirectDeposit && scopeOrg.entity.AreComplianceFieldsRequired"
                            data-pt-field-view="scopeOrg.ptFieldViewConfigOnChangeStatusId" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label label-to-right req-lab-right" for="PaymentMethodDirectDepositBankAccountNumber" data-model-property="paymentMethod.BankAccountNumber">Bank Account Number</label>
                <div class="col-lg-7">
                    <div>
                        <input type="text" name="PaymentMethodDirectDepositBankAccountNumber" class="form-control ng-pristine ng-valid" maxlength="30"
                            ng-minlength="3" ng-maxlength="30" data-ng-model="paymentMethod.BankAccountNumber" data-ng-required="paymentMethod.PaymentMethodTypeId==ApplicationConstants.PaymentMethodType.DirectDeposit && scopeOrg.entity.AreComplianceFieldsRequired"
                            data-pt-field-view="scopeOrg.ptFieldViewConfigOnChangeStatusId" />
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group col-lg-12" data-ng-if="paymentMethod.PaymentMethodTypeId==ApplicationConstants.PaymentMethodType.WireTransfer && paymentMethod.IsSelected">
            <h4>Wire Transfer</h4>
            <div class="clearfix">
                <div class="col-lg-6">
                    <h4 class="wt-title">Beneficiary Information</h4>
                    <div class="form-group">
                        <label for-property="ProfileNameBeneficiary" for="ProfileNameBeneficiary" data-model-property="paymentMethod.ProfileNameBeneficiary"
                            class="col-lg-4 control-label label-to-right req-lab-right">Profile Name</label>
                        <div class="col-lg-8">
                            <input type="text" ng-model="paymentMethod.ProfileNameBeneficiary" class="form-control ng-pristine ng-valid" ng-maxlength="35"
                                maxlength="35" name="ProfileNameBeneficiary" id="ProfileNameBeneficiary" data-ng-required="paymentMethod.PaymentMethodTypeId==ApplicationConstants.PaymentMethodType.WireTransfer && scopeOrg.entity.AreComplianceFieldsRequired"
                                data-pt-field-view="scopeOrg.ptFieldViewConfigOnChangeStatusId" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="NameBeneficiary" for-property="NameBeneficiary" data-model-property="paymentMethod.NameBeneficiary" class="col-lg-4 control-label req-lab-right">Name</label>
                        <div class="col-lg-8">
                            <input type="text" ng-model="paymentMethod.NameBeneficiary" class="form-control" name="NameBeneficiary" ng-maxlength="35"
                                maxlength="35" id="NameBeneficiary" data-ng-required="paymentMethod.PaymentMethodTypeId==ApplicationConstants.PaymentMethodType.WireTransfer && scopeOrg.entity.AreComplianceFieldsRequired"
                                data-pt-field-view="scopeOrg.ptFieldViewConfigOnChangeStatusId" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="AccountNumberBeneficiary" for-property="AccountNumberBeneficiary" data-model-property="paymentMethod.AccountNumberBeneficiary"
                            class="col-lg-4 control-label req-lab-right">Account Number</label>
                        <div class="col-lg-8">
                            <input type="text" ng-model="paymentMethod.AccountNumberBeneficiary" class="form-control" name="AccountNumberBeneficiary"
                                ng-maxlength="35" maxlength="35" id="AccountNumberBeneficiary" data-ng-required="paymentMethod.PaymentMethodTypeId==ApplicationConstants.PaymentMethodType.WireTransfer && scopeOrg.entity.AreComplianceFieldsRequired"
                                data-pt-field-view="scopeOrg.ptFieldViewConfigOnChangeStatusId" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Address1Beneficiary" for-property="Address1Beneficiary" data-model-property="paymentMethod.Address1Beneficiary"
                            class="col-lg-4 control-label req-lab-right">Address</label>
                        <div class="col-lg-8">
                            <input type="text" ng-model="paymentMethod.Address1Beneficiary" class="form-control" name="Address1Beneficiary" ng-maxlength="35"
                                maxlength="35" id="Address1Beneficiary" data-ng-required="paymentMethod.PaymentMethodTypeId==ApplicationConstants.PaymentMethodType.WireTransfer && scopeOrg.entity.AreComplianceFieldsRequired"
                                data-pt-field-view="scopeOrg.ptFieldViewConfigOnChangeStatusId" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Address2Beneficiary" for-property="Address2Beneficiary" data-model-property="paymentMethod.Address2Beneficiary"
                            class="col-lg-4 control-label"></label>
                        <div class="col-lg-8">
                            <input type="text" ng-model="paymentMethod.Address2Beneficiary" class="form-control" name="Address2Beneficiary" ng-maxlength="35"
                                maxlength="35" id="Address2Beneficiary" data-pt-field-view="scopeOrg.ptFieldViewConfigOnChangeStatusId"
                            />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="CityBeneficiary" for-property="CityBeneficiary" data-model-property="paymentMethod.CityBeneficiary" class="col-lg-4 control-label">City</label>
                        <div class="col-lg-8">
                            <input type="text" ng-model="paymentMethod.CityBeneficiary" class="form-control" name="CityBeneficiary" ng-maxlength="35"
                                maxlength="35" id="CityBeneficiary" data-pt-field-view="scopeOrg.ptFieldViewConfigOnChangeStatusId"
                            />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ProvinceOrStateBeneficiary" for-property="ProvinceOrStateBeneficiary" data-model-property="paymentMethod.ProvinceOrStateBeneficiary"
                            class="col-lg-4 control-label">Province/State</label>
                        <div class="col-lg-8">
                            <input type="text" ng-model="paymentMethod.ProvinceOrStateBeneficiary" class="form-control" name="ProvinceOrStateBeneficiary"
                                ng-maxlength="35" maxlength="35" id="ProvinceOrStateBeneficiary" data-pt-field-view="scopeOrg.ptFieldViewConfigOnChangeStatusId"
                            />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="CountryCodeBeneficiary" for-property="CountryCodeBeneficiary" data-model-property="paymentMethod.CountryCodeBeneficiary"
                            class="col-lg-4 control-label req-lab-right">Country Code</label>
                        <div class="col-lg-8">
                            <div class="input-group select2-bootstrap-append">
                                <ui-select name="CountryCodeBeneficiary" data-ng-model="paymentMethod.CountryCodeBeneficiary" theme="select2" class="form-control"
                                    data-ng-required="paymentMethod.PaymentMethodTypeId==ApplicationConstants.PaymentMethodType.WireTransfer && scopeOrg.entity.AreComplianceFieldsRequired"
                                    data-pt-field-view="scopeOrg.ptFieldViewConfigOnChangeStatusId">
                                    <ui-select-match placeholder="-- Select One --">{{$select.selected.text}}</ui-select-match>
                                    <ui-select-choices repeat="item.id as item in scopeOrg.lists.countryList | uiSelectChoicesFilter: $select.search: 'text'">
                                        <span data-ng-bind-html="item.text | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                    <button tabindex="-1" data-ng-click="paymentMethod.CountryCodeBeneficiary = undefined" class="btn btn-default btn-contact-drp">
                                        <i class="material-icons md-18">clear</i>
                                    </button>
                                </span>
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="PostalorZipBeneficiary" for-property="PostalorZipBeneficiary" data-model-property="paymentMethod.PostalorZipBeneficiary"
                            class="col-lg-4 control-label">Postal/Zip</label>
                        <div class="col-lg-4">
                            <input type="text" name="PostalorZipBeneficiary" class="form-control" ng-maxlength="16" maxlength="16" data-ng-model="paymentMethod.PostalorZipBeneficiary"
                                data-pt-field-view="scopeOrg.ptFieldViewConfigOnChangeStatusId" data-postal-zip-code-valid="{countryId: paymentMethod.CountryCodeBeneficiary, isRequired: false}"
                                data-postal-zip-code-mask="paymentMethod.CountryCodeBeneficiary">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="PayCurrencyBeneficiary" for-property="PayCurrencyBeneficiary" data-model-property="paymentMethod.PayCurrencyBeneficiary"
                            class="col-lg-4 control-label req-lab-right">Pay Currency</label>
                        <div class="col-lg-8">
                            <div class="input-group select2-bootstrap-append">
                                <ui-select name="PayCurrencyBeneficiary" data-ng-model="paymentMethod.PayCurrencyBeneficiary" theme="select2" class="form-control"
                                    data-ng-required="paymentMethod.PaymentMethodTypeId==ApplicationConstants.PaymentMethodType.WireTransfer && scopeOrg.entity.AreComplianceFieldsRequired"
                                    data-pt-field-view="scopeOrg.ptFieldViewConfigOnChangeStatusId">
                                    <ui-select-match placeholder="-- Select One --">{{$select.selected.text}}</ui-select-match>
                                    <ui-select-choices repeat="item.id as item in scopeOrg.lists.currencyList | uiSelectChoicesFilter: $select.search: 'text'">
                                        <span data-ng-bind-html="item.text | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                    <button tabindex="-1" data-ng-click="paymentMethod.PayCurrencyBeneficiary = undefined" class="btn btn-default btn-contact-drp">
                                        <i class="material-icons md-18">clear</i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="WireTransferBankTypeIdBeneficiary" for-property="WireTransferBankTypeIdBeneficiary" data-model-property="paymentMethod.WireTransferBankTypeIdBeneficiary"
                            class="col-lg-4 control-label req-lab-right">Bank ID Type</label>
                        <div class="col-lg-8">
                            <div class="input-group select2-bootstrap-append">
                                <ui-select name="WireTransferBankTypeIdBeneficiary" data-ng-model="paymentMethod.WireTransferBankTypeIdBeneficiary" theme="select2"
                                    class="form-control" data-ng-required="paymentMethod.PaymentMethodTypeId==ApplicationConstants.PaymentMethodType.WireTransfer && scopeOrg.entity.AreComplianceFieldsRequired"
                                    data-pt-field-view="scopeOrg.ptFieldViewConfigOnChangeStatusId">
                                    <ui-select-match placeholder="-- Select One --">{{$select.selected.text}}</ui-select-match>
                                    <ui-select-choices repeat="item.id as item in scopeOrg.lists.wiretransferBankTypes | uiSelectChoicesFilter: $select.search: 'text'">
                                        <span data-ng-bind-html="item.text | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                    <button tabindex="-1" data-ng-click="paymentMethod.WireTransferBankTypeIdBeneficiary = undefined" class="btn btn-default btn-contact-drp">
                                        <i class="material-icons md-18">clear</i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="BankIDBeneficiary" for-property="BankIDBeneficiary" data-model-property="paymentMethod.BankIDBeneficiary" class="col-lg-4 control-label req-lab-right">Bank ID </label>
                        <div class="col-lg-8">
                            <input type="text" ng-model="paymentMethod.BankIDBeneficiary" class="form-control" name="BankIDBeneficiary" ng-maxlength="35"
                                maxlength="35" id="BankIDBeneficiary" data-ng-required="paymentMethod.PaymentMethodTypeId==ApplicationConstants.PaymentMethodType.WireTransfer && scopeOrg.entity.AreComplianceFieldsRequired"
                                data-pt-field-view="scopeOrg.ptFieldViewConfigOnChangeStatusId" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="ABANoBeneficiary" for-property="ABANoBeneficiary" data-model-property="paymentMethod.ABANoBeneficiary" class="col-lg-4 control-label">ABA #</label>
                        <div class="col-lg-8">
                            <input type="text" ng-model="paymentMethod.ABANoBeneficiary" class="form-control" name="ABANoBeneficiary" ng-maxlength="35"
                                maxlength="35" id="ABANoBeneficiary" data-pt-field-view="scopeOrg.ptFieldViewConfigOnChangeStatusId"
                            />
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h4 class="wt-title">Intermediary Information</h4>
                    <div class="form-group">
                        <label for="BankIdTypeIntemediary" for-property="BankIdTypeIntemediary" data-model-property="paymentMethod.BankIdTypeIntemediary"
                            class="col-lg-4 control-label">Bank ID Type</label>
                        <div class="col-lg-8">
                            <div class="input-group select2-bootstrap-append">
                                <ui-select name="WireTransferBankTypeIdIntemediary" data-ng-model="paymentMethod.WireTransferBankTypeIdIntemediary" theme="select2"
                                    class="form-control" data-pt-field-view="scopeOrg.ptFieldViewConfigOnChangeStatusId">
                                    <ui-select-match placeholder="-- Select One --">{{$select.selected.text}}</ui-select-match>
                                    <ui-select-choices repeat="item.id as item in scopeOrg.lists.wiretransferBankTypes | uiSelectChoicesFilter: $select.search: 'text'">
                                        <span data-ng-bind-html="item.text | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                    <button data-ng-click="paymentMethod.WireTransferBankTypeIdIntemediary = undefined" class="btn btn-default btn-contact-drp">
                                        <i class="material-icons md-18">clear</i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="BankNameIntemediary" for-property="BankNameIntemediary" data-model-property="paymentMethod.BankNameIntemediary"
                            class="col-lg-4 control-label">Bank Name</label>
                        <div class="col-lg-8">
                            <input tabindex="-1" type="text" ng-model="paymentMethod.BankNameIntemediary" class="form-control" name="BankNameIntemediary"
                                ng-maxlength="18" maxlength="18" id="BankNameIntemediary" data-pt-field-view="scopeOrg.ptFieldViewConfigOnChangeStatusId"
                            />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="BankIdIntemediary" for-property="BankIdIntemediary" data-model-property="paymentMethod.BankIdIntemediary" class="col-lg-4 control-label">Bank ID</label>
                        <div class="col-lg-8">
                            <input type="text" ng-model="paymentMethod.BankIdIntemediary" class="form-control" name="BankIdIntemediary" ng-maxlength="35"
                                maxlength="35" id="BankIdIntemediary" data-pt-field-view="scopeOrg.ptFieldViewConfigOnChangeStatusId"
                            />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Address1Intemediary" for-property="Address1Intemediary" data-model-property="paymentMethod.Address1Intemediary"
                            class="col-lg-4 control-label">Address</label>
                        <div class="col-lg-8">
                            <input type="text" ng-model="paymentMethod.Address1Intemediary" class="form-control" name="Address1Intemediary" ng-maxlength="35"
                                maxlength="35" id="Address1Intemediary" data-pt-field-view="scopeOrg.ptFieldViewConfigOnChangeStatusId"
                            />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Address2Intemediary" for-property="Address2Intemediary" data-model-property="paymentMethod.Address2Intemediary"
                            class="col-lg-4 control-label"></label>
                        <div class="col-lg-8">
                            <input type="text" ng-model="paymentMethod.Address2Intemediary" class="form-control" name="Address2Intemediary" ng-maxlength="35"
                                maxlength="35" id="Address2Intemediary" data-pt-field-view="scopeOrg.ptFieldViewConfigOnChangeStatusId"
                            />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="CityIntemediary" for-property="CityIntemediary" data-model-property="paymentMethod.CityIntemediary" class="col-lg-4 control-label">City</label>
                        <div class="col-lg-8">
                            <input type="text" ng-model="paymentMethod.CityIntemediary" class="form-control" name="CityIntemediary" ng-maxlength="35"
                                maxlength="35" id="CityIntemediary" data-pt-field-view="scopeOrg.ptFieldViewConfigOnChangeStatusId"
                            />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="ProvinceOrStateIntemediary" for-property="ProvinceOrStateIntemediary" data-model-property="paymentMethod.ProvinceOrStateIntemediary"
                            class="col-lg-4 control-label">Province/State</label>
                        <div class="col-lg-8">
                            <input type="text" ng-model="paymentMethod.ProvinceOrStateIntemediary" class="form-control" name="ProvinceOrStateIntemediary"
                                ng-maxlength="35" maxlength="35" id="ProvinceOrStateIntemediary" data-pt-field-view="scopeOrg.ptFieldViewConfigOnChangeStatusId"
                            />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="CountryCodeIntemediary" for-property="CountryCodeIntemediary" data-model-property="paymentMethod.CountryCodeIntemediary"
                            class="col-lg-4 control-label">Country Code</label>
                        <div class="col-lg-8">
                            <div class="input-group select2-bootstrap-append">
                                <ui-select name="CountryCodeIntemediary" data-ng-model="paymentMethod.CountryCodeIntemediary" theme="select2" class="form-control"
                                    data-pt-field-view="scopeOrg.ptFieldViewConfigOnChangeStatusId">
                                    <ui-select-match placeholder="-- Select One --">{{$select.selected.text}}</ui-select-match>
                                    <ui-select-choices repeat="item.id as item in scopeOrg.lists.countryList | uiSelectChoicesFilter: $select.search: 'text'">
                                        <span data-ng-bind-html="item.text | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                    <button tabindex="-1" data-ng-click="paymentMethod.CountryCodeIntemediary = undefined" class="btn btn-default btn-contact-drp">
                                        <i class="material-icons md-18">clear</i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="PostalOrZipIntemediary" for-property="PostalOrZipIntemediary" data-model-property="paymentMethod.PostalOrZipIntemediary"
                            class="col-lg-4 control-label">Postal/Zip</label>
                        <div class="col-lg-4">
                            <input type="text" name="PostalOrZipIntemediary" class="form-control" ng-maxlength="16" maxlength="16" data-ng-model="paymentMethod.PostalOrZipIntemediary"
                                data-pt-field-view="scopeOrg.ptFieldViewConfigOnChangeStatusId" data-postal-zip-code-valid="{countryId: paymentMethod.CountryCodeIntemediary, isRequired: false}"
                                data-postal-zip-code-mask="paymentMethod.CountryCodeIntemediary">
                        </div>
                    </div>

                </div>
            </div>

            <div class="clearfix">
                <div class="col-lg-6">
                    <h4 class="wt-title">Receivers Correspondent Information</h4>
                    <div class="form-group">
                        <label for="BankIdTypeReceivers" for-property="BankIdTypeReceivers" data-model-property="paymentMethod.BankIdTypeReceivers"
                            class="col-lg-4 control-label">Bank ID Type</label>
                        <div class="col-lg-8">
                            <div class="input-group select2-bootstrap-append">
                                <ui-select name="WireTransferBankTypeIdReceivers" data-ng-model="paymentMethod.WireTransferBankTypeIdReceivers" theme="select2"
                                    class="form-control" data-pt-field-view="scopeOrg.ptFieldViewConfigOnChangeStatusId">
                                    <ui-select-match placeholder="-- Select One --">{{$select.selected.text}}</ui-select-match>
                                    <ui-select-choices repeat="item.id as item in scopeOrg.lists.wiretransferBankTypes | uiSelectChoicesFilter: $select.search: 'text'">
                                        <span data-ng-bind-html="item.text | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                    <button tabindex="-1" data-ng-click="paymentMethod.WireTransferBankTypeIdReceivers = undefined" class="btn btn-default btn-contact-drp">
                                        <i class="material-icons md-18">clear</i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="BankNameReceivers" for-property="BankIdTypeReceivers" data-model-property="paymentMethod.BankIdTypeReceivers"
                            class="col-lg-4 control-label">Bank Name</label>
                        <div class="col-lg-8">
                            <input type="text" ng-model="paymentMethod.BankNameReceivers" class="form-control" name="BankNameReceivers" ng-maxlength="18"
                                maxlength="18" id="BankNameReceivers" data-pt-field-view="scopeOrg.ptFieldViewConfigOnChangeStatusId"
                            />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="BankIdReceivers" for-property="BankIdReceivers" data-model-property="paymentMethod.BankIdReceivers" class="col-lg-4 control-label">Bank ID</label>
                        <div class="col-lg-8">
                            <input type="text" ng-model="paymentMethod.BankIdReceivers" class="form-control" name="BankIdReceivers" ng-maxlength="35"
                                maxlength="35" id="BankIdReceivers" data-pt-field-view="scopeOrg.ptFieldViewConfigOnChangeStatusId"
                            />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Address1Receivers" for-property="Address1Receivers" data-model-property="paymentMethod.Address1Receivers" class="col-lg-4 control-label">Address</label>
                        <div class="col-lg-8">
                            <input type="text" ng-model="paymentMethod.Address1Receivers" class="form-control" name="Address1Receivers" ng-maxlength="35"
                                maxlength="35" id="Address1Receivers" data-pt-field-view="scopeOrg.ptFieldViewConfigOnChangeStatusId"
                            />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Address2Receivers" for-property="Address2Receivers" data-model-property="paymentMethod.Address2Receivers" class="col-lg-4 control-label"></label>
                        <div class="col-lg-8">
                            <input type="text" ng-model="paymentMethod.Address2Receivers" class="form-control" name="Address2Receivers" ng-maxlength="35"
                                maxlength="35" id="Address2Receivers" data-pt-field-view="scopeOrg.ptFieldViewConfigOnChangeStatusId"
                            />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="CityReceivers" for-property="CityReceivers" data-model-property="paymentMethod.CityReceivers" class="col-lg-4 control-label">City</label>
                        <div class="col-lg-8">
                            <input type="text" ng-model="paymentMethod.CityReceivers" class="form-control" name="CityReceivers" ng-maxlength="35" maxlength="35"
                                id="CityReceivers" data-pt-field-view="scopeOrg.ptFieldViewConfigOnChangeStatusId" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="ProvinceOrStateReceivers" for-property="ProvinceOrStateReceivers" data-model-property="paymentMethod.ProvinceOrStateReceivers"
                            class="col-lg-4 control-label">Province/State</label>
                        <div class="col-lg-8">
                            <input type="text" ng-model="paymentMethod.ProvinceOrStateReceivers" class="form-control" name="ProvinceOrStateReceivers"
                                ng-maxlength="35" maxlength="35" id="ProvinceOrStateReceivers" data-pt-field-view="scopeOrg.ptFieldViewConfigOnChangeStatusId"
                            />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="CountryCodeReceivers" for-property="CountryCodeReceivers" data-model-property="paymentMethod.CountryCodeReceivers"
                            class="col-lg-4 control-label">Country Code</label>
                        <div class="col-lg-8">
                            <div class="input-group select2-bootstrap-append">
                                <ui-select name="CountryCodeReceivers" data-ng-model="paymentMethod.CountryCodeReceivers" theme="select2" class="form-control"
                                    data-pt-field-view="scopeOrg.ptFieldViewConfigOnChangeStatusId">
                                    <ui-select-match placeholder="-- Select One --">{{$select.selected.text}}</ui-select-match>
                                    <ui-select-choices repeat="item.id as item in scopeOrg.lists.countryList | uiSelectChoicesFilter: $select.search: 'text'">
                                        <span data-ng-bind-html="item.text | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                                <span class="input-group-btn">
                                    <button tabindex="-1" data-ng-click="paymentMethod.CountryCodeReceivers = undefined" class="btn btn-default btn-contact-drp">
                                        <i class="material-icons md-18">clear</i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="PostalOrZipReceivers" for-property="PostalOrZipReceivers" data-model-property="paymentMethod.PostalOrZipReceivers"
                            class="col-lg-4 control-label">Postal/Zip</label>
                        <div class="col-lg-4">
                            <input type="text" name="PostalOrZipReceivers" class="form-control" ng-maxlength="16" maxlength="16" data-ng-model="paymentMethod.PostalOrZipReceivers"
                                data-pt-field-view="scopeOrg.ptFieldViewConfigOnChangeStatusId" data-postal-zip-code-valid="{countryId: paymentMethod.CountryCodeReceivers, isRequired: false}"
                                data-postal-zip-code-mask="paymentMethod.CountryCodeReceivers">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wt-note">
                    <h4 class="wt-title">Payment Detail Notes</h4>
                    <div class="form-group">
                        <div class="col-lg-12">
                            <textarea ng-model="paymentMethod.PaymentDetailNotes" class="form-control" id="PaymentDetailNotes" name="PaymentDetailNotes"
                                ng-maxlength="2000" maxlength="2000" rows="6" style="resize: none" data-pt-field-view="scopeOrg.ptFieldViewConfigOnChangeStatusId"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-ng-if="paymentMethod.PaymentMethodTypeId==ApplicationConstants.PaymentMethodType.ADP && paymentMethod.IsSelected">
            <div class="form-group">
                <div class="col-lg-12">
                    <h4>ADP</h4>
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label label-to-right req-lab-right" for="PaymentMethodADP" data-model-property="paymentMethod.EmployeeId">Employee Id</label>
                <div class="col-lg-7">
                    <div>
                        <input type="text" name="PaymentMethodADP" class="form-control ng-pristine ng-valid" data-ng-model="paymentMethod.EmployeeId"
                            data-ng-required="paymentMethod.PaymentMethodTypeId==ApplicationConstants.PaymentMethodType.ADP && scopeOrg.entity.AreComplianceFieldsRequired"
                            data-pt-field-view="scopeOrg.ptFieldViewConfigOnChangeStatusId" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>