<div data-ng-if="scopeOrg.actionScope.show.organizationIndependentContractorRoleGarnisheeView">
    <div class="btn-group btn-garnishee-search-nav" data-ng-if="scopeOrg.actionScope.show.organizationIndependentContractorRoleGarnisheeNew && !scopeOrg.entity.ActiveGarnisheesCount">
        <div class="garnishee-btn-wrapper">
            <button type="button" class="btn btn-clouds dropdown-toggle" data-toggle="dropdown">
                <span class="garnishee-btn-name">Actions</span> <span class="caret ml garnishee-btn-caret"></span>
            </button>
            <ul class="dropdown-menu bordered">
                <li><a data-ui-sref="org.edit.garnishees.new()" data-ng-if="scopeOrg.actionScope.show.organizationIndependentContractorRoleGarnisheeNew" data-toggle="modal" data-target="#newGarnisheeModal">Add Garnishee</a></li>
            </ul>
        </div>
    </div>
    <div class="smart-table-wrapper garnishee-search-table">
        <div data-cg-busy="loadItemsPromise">
            <table class="table table-striped table-content table-hover" data-st-table="scopeGarnishee.items" data-st-pagination-scroll="scopeGarnishee.pageSize" data-st-pipe="scopeGarnishee.callServer" data-st-fixed-header="" data-st-column-widths="[10, 29, 17, 17, 17, 10 ]">
                <thead>
                    <tr>
                        <th data-st-sort="Id" data-st-sort-default="">ID</th>
                        <th data-st-sort="Description">Description</th>
                        <th data-st-sort="PayAmountMaximum">Garnish Amount Maximum</th>
                        <th data-st-sort="PaidAmount">Amount Paid</th>
                        <th data-st-sort="PaybackRemainder">Amount Remaining</th>
                        <th data-st-sort="GarnisheeStatusId">Status</th>
                    </tr>
                    <tr>
                        <th>
                            <input data-st-advanced-search="{property: 'Id', ignoreQuotes: true}" placeholder="" class="input-sm form-control numberType" data-safe-restrict-input="[^0123456789]" />
                        </th>
                        <th>
                            <input data-st-advanced-search="'Description'" placeholder=""
                                   class="input-sm form-control" type="search" />
                        </th>
                        <th>
                            <input data-st-advanced-search="{property: 'PayAmountMaximum', ignoreQuotes: true, valueSuffix: 'M'}" placeholder=""
                                   class="input-sm form-control numberType" data-safe-restrict-input="[^0123456789.uUnNlLiImMtTeEdD]" />
                        </th>
                        <th>
                            <input data-st-advanced-search="{property: 'PaidAmount', ignoreQuotes: true, valueSuffix: 'M'}" placeholder=""
                                   class="input-sm form-control numberType" data-safe-restrict-input="[^0123456789.]" />
                        </th>
                        <th>
                            <input data-st-advanced-search="{property: 'PaybackRemainder', ignoreQuotes: true, valueSuffix: 'M'}" placeholder=""
                                   class="input-sm form-control numberType" data-safe-restrict-input="[^0123456789.nN/aA]" />
                        </th>
                        <th>
                            <select data-st-advanced-search="{property: 'GarnisheeStatusId', ignoreQuotes: true}" class="input-sm form-control">
                                <option value="1">Active</option>
                                <option value="2">Complete</option>
                                <option value="3">Cancelled</option>
                            </select>
                        </th>
                    </tr>
                </thead>
                <tbody style="min-height:300px;">
                    <tr data-ng-repeat="item in scopeGarnishee.items" data-ui-sref-tr="org.edit.garnishees.details({ garnisheeId: item.Id })" style="cursor:pointer" data-toggle="modal" data-target="#garnisheeDetailsModal">
                        <td title="{{item.Id}}"><span class="garnishee-search-item">{{item.Id}}</span></td>
                        <td title="{{item.Description}}"><span class="garnishee-search-item garnishee-description">{{item.Description}}</span></td>
                        <td title="{{item.PayAmountIsMaximum ? (item.CurrencyId | lookup: scopeGarnishee.currencies:'id':'code') : 'Unlimited'}}{{item.PayAmountIsMaximum ? (item.PayAmountMaximum | currency: ' $') : 'Unlimited'}}">
                            <span class="garnishee-search-item">
                                {{item.PayAmountIsMaximum ? (item.CurrencyId | lookup: scopeGarnishee.currencies:'id':'code') : ''}}{{item.PayAmountIsMaximum ? (item.PayAmountMaximum | currency: " $") : 'Unlimited'}}
                            </span>
                        </td>
                        <td title="{{item.CurrencyId | lookup: scopeGarnishee.currencies:'id':'code'}}{{item.PaidAmount | currency: ' $'}}"><span class="garnishee-search-item">{{item.CurrencyId | lookup: scopeGarnishee.currencies:'id':'code'}}{{item.PaidAmount | currency: " $"}}</span></td>
                        <td title="{{item.PayAmountIsMaximum ? (item.CurrencyId | lookup: scopeGarnishee.currencies:'id':'code') : ''}}{{item.PayAmountIsMaximum ? (item.PaybackRemainder | currency: ' $') : 'N/A'}}"><span class="garnishee-search-item">{{item.PayAmountIsMaximum ? (item.CurrencyId | lookup: scopeGarnishee.currencies:'id':'code') : ''}}{{item.PayAmountIsMaximum ? (item.PaybackRemainder | currency: " $") : 'N/A'}}</span></td>
                        <td title="{{item.GarnisheeStatusId | lookup: scopeGarnishee.statuses}}"><span class="garnishee-search-item">{{item.GarnisheeStatusId | lookup: scopeGarnishee.statuses}}</span></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="8">
                            <span>Total Count: {{scopeGarnishee.totalItemCount || 0}}; Items Loaded: {{ scopeGarnishee.items ? scopeGarnishee.items.length : 0}}</span>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    
    <div class="modal fade modal-phoenix" id="newGarnisheeModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div ui-view="newGarnisheeView" style="height:100%;"></div>
            </div>
        </div>
    </div>
    <div class="modal fade modal-phoenix" id="garnisheeDetailsModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div ui-view="garnisheeDetailsView" style="height:100%;"></div>
            </div>
        </div>
    </div>
</div>
