<form [formGroup]="inputFormGroup" *ngIf="readOnlyStorage&&inputFormGroup">

  <phx-form-control [control]="inputFormGroup.controls.FunctionalRoleId" labelText="Role" [editable]="readOnlyStorage.IsEditable"
    viewModeText="{{inputFormGroup.controls.FunctionalRoleId.value | CodeValue:codeValueGroups.FunctionalRole}}">
    <app-phx-select-box [formControl]="inputFormGroup.controls.FunctionalRoleId" 
        [items]="html.codeValueLists.listFunctionalRole | filterSelectChoicesByUsage: selectedFunctionalRoles:inputFormGroup.value:'FunctionalRoleId':'id': 'text'"
       valueField="id" textField="text" sortByFieldName="text" placeholder="-- select one --"  >
    </app-phx-select-box>
</phx-form-control>
<phx-form-control labelText="">
    <button type="button" class="btn btn-default btn-material right pull-right" (click)="onClickDeleteFunctionalRole()" 
        *ngIf="readOnlyStorage.IsEditable && parentArray.length > 1">
        <i class="material-icons">delete</i>
    </button>
</phx-form-control>

</form>