<div class="panel-group panel-sections col-md-7 col-xl-5">
  <section class="row">
    <form [formGroup]="form" *ngIf="form">
      <phx-form-control [control]="form.controls['oldPassword']" [labelText]="'account.manage.currentPasswordLabel' | phxTranslate" [editable]="true"
      [showValidationMessages]="true" [layoutType]="formControlLayoutType">
        <input type="password" class="form-control" formControlName="oldPassword" />
      </phx-form-control>
      
      <div formGroupName="newPasswordGroup">
        <phx-form-control [control]="newPasswordGroup.controls['newPassword']" [labelText]="'account.manage.newPasswordLabel' | phxTranslate" [editable]="true"
        [showValidationMessages]="true" [layoutType]="formControlLayoutType">
          <input type="password" class="form-control" formControlName="newPassword" />
        </phx-form-control>
        
        <phx-form-control [control]="newPasswordGroup.controls['confirmPassword']" [labelText]="'account.manage.confirmPasswordLabel' | phxTranslate" [editable]="true"
        [showValidationMessages]="true" [layoutType]="formControlLayoutType">
          <input type="password" class="form-control" formControlName="confirmPassword" />
        </phx-form-control>
        <div class="col-xs-12">
          <phx-form-control-validation [control]="newPasswordGroup" *ngIf="!newPasswordGroup.controls['confirmPassword'].pristine" ></phx-form-control-validation>
        </div>
      </div>
    </form>
  </section>
  <div class="">
    <app-phx-validation-messages [messages]="validationMessages"></app-phx-validation-messages>
  </div>
  <div class="btn-row">
    <button class="btn btn-primary" (click)="save()" [disabled]="!form.valid || !form.dirty">{{'common.generic.save' | phxTranslate}}</button>
    <button class="btn btn-default" (click)="cancel()">{{'common.generic.cancel' | phxTranslate}}</button>
  </div>
</div>