<div class="row rebate-fee">
    <div class="btn-group btn-rebate-fee-search-nav">
        <div class="rebate-fee-btn-wrapper">
            <button type="button" class="btn btn-clouds dropdown-toggle" data-toggle="dropdown">
                <span class="rebate-fee-btn-name">New</span> <span class="caret ml rebate-fee-btn-caret"></span>
            </button>
            <ul class="dropdown-menu bordered">
                <li><a data-ui-sref="org.rebate({ rebateHeaderId: 0, rebateVersionId: 0, orgId: 0 })">Create New Rebate</a></li>
                <li><a data-ui-sref="org.vmsfee({ vmsFeeHeaderId: 0, vmsFeeVersionId: 0, orgId: 0 })">Create New VMS Fee</a></li>
            </ul>
        </div>
    </div>
    <div class="smart-table-wrapper">
        <div class="row" data-cg-busy="loadItemsPromise">
            <table class="table table-striped table-content table-hover" data-st-table="rf.items" data-st-pagination-scroll="rf.pageSize" data-st-pipe="rf.callServer" data-st-fixed-header="" data-st-column-widths="[15, 40, 15, 15, 15]">
                <thead>
                    <tr>
                        <th data-st-sort="OrganizationId" data-st-sort-default="reverse">ID</th>
                        <th data-st-sort="OrganizationDisplayName">Organization</th>
                        <th data-st-sort="ActiveRebatesCount">Active Rebates</th>
                        <th data-st-sort="ActiveFeesCount">Active VMS Fees</th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        <th>
                            <input data-st-advanced-search="{property: 'OrganizationId', ignoreQuotes: true}" placeholder="" class="input-sm form-control numberType" data-safe-restrict-input="[^0123456789.]" />
                        </th>
                        <th>
                            <input data-st-advanced-search="'OrganizationDisplayName'" placeholder=""
                                   class="input-sm form-control" />
                        </th>
                        <th>
                            <input data-st-advanced-search="{property: 'ActiveRebatesCount', ignoreQuotes: true}" placeholder="" class="input-sm form-control numberType" data-safe-restrict-input="[^0123456789.]" />
                        </th>
                        <th>
                            <input data-st-advanced-search="{property: 'ActiveFeesCount', ignoreQuotes: true}" placeholder="" class="input-sm form-control numberType" data-safe-restrict-input="[^0123456789.]" />
                        </th>
                        <th>

                        </th>
                    </tr>
                </thead>
                <tbody class="sales-patt-table-body">
                    <tr data-ng-repeat="item in rf.items" data-ui-sref="org.rebatesandfeesdetails({ organizationId: {{item.OrganizationId}} })" style="cursor:pointer">
                        <td class="sales-patt-item" title="{{item.OrganizationId}}"><span class="sales-patt-item-in">{{item.OrganizationId}}</span><span class="sales-patt-item-in">{{item.Id}}</span></td>
                        <td class="sales-patt-item" title="{{item.OrganizationDisplayName}}"><span class="sales-patt-item-in">{{item.OrganizationDisplayName}}</span></td>
                        <td class="sales-patt-item" title="{{item.ActiveRebatesCount}}"><span class="sales-patt-item-in">{{item.ActiveRebatesCount}}</span></td>
                        <td class="sales-patt-item" title="{{item.ActiveFeesCount}}"><span class="sales-patt-item-in">{{item.ActiveFeesCount}}</span></td>
                        <td class="sales-patt-item">
                            <div class="btn-group">
                                <button class="btn btn-xs btn-clouds btn-row-action"><i class="fontello-icon-eye-1"></i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="9">
                            <span class="salesPattTotal">Total Count: {{rf.totalItemCount || 0}}; Items Loaded: {{ rf.items ? rf.items.length : 0}}</span>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
