<div class="account-container stacked">
  <div class="content clearfix margin-10-v-t">
    <div *ngIf="passwordForgotSent">{{ 'account.forgot.pwdForgotSentMessage' | phxTranslate }}</div>
    <form [formGroup]="form" *ngIf="!passwordForgotSent">
      <div class="login-fields">
        <div class="field text-center"><img class="margin-10-v" src="/assets/logo-flex-backoffice.png" alt="logo" /></div>
        <p>{{ 'account.forgot.emailId' | phxTranslate }}</p>
        <div class="field"><input type="text" class="form-control input-lg" formControlName="Email" /></div>
        <div class="alert alert-danger alert-dismissable error-box" *ngIf="errorToShow">
          <ul class="list-unstyled">
            <li>{{ brokenRules.errorText }}</li>
          </ul>
        </div>
      </div>
      
      <button class="btn btn-primary pull-right" (click)="sendForgotPassword()">{{ 'account.forgot.recoverButton' | phxTranslate }}</button>
    </form>
  </div>
</div>
