<div id="wrapper" class="clearfix">

    <div id="header">
        <div id="welcome" class="grid-1" style="float:right; vertical-align:top; padding-top:20px">
            <a href="#/account" class="btn btn-small btn-inverse">LOGIN</a>
        </div>

        <div class="container">

            <h1 id="title">
                <a href="./index.html">
                    Flashback Office
                </a>
            </h1>

        </div> <!-- /container -->

    </div> <!-- /header -->


    <div id="nav" class="clearfix">

        <div class="container">
            <ul id="main-nav">
                <li>
                    <a [routerLink]="'/home'">Home</a>
                </li>
                <li  class="active">
                    <a [routerLink]="['/home', 'about']">About</a>
                </li>
                <li>
                    <a>Services</a>
                </li>
                <li>
                    <a>Benefits</a>
                </li>
                <li>
                    <a>Contact</a>
                </li>
            </ul>
        </div>

    </div> <!-- /nav -->


    <div class="container">

        <p>&nbsp;</p>
        <div class="row">
            <div class="grid-6">
                <!--<img src="img/gallery/showcase1.png" />-->
            </div> <!-- /grid-6 -->
            <div class="grid-6">
                <div id="page-title">
                    <h1><span class="slash">//</span>About Us</h1>
                    <p class="subtitle">We come from the staffing industry and know back office.</p>
                </div> <!-- /page-title -->
            </div> <!-- /grid-6 -->
        </div> <!-- /row -->

        <div id="content">

            <hr class="row-divider" />
            <div class="row">

                <div class="grid-6">

                    <!--<img src="img/gallery/showcase1.png" />-->

                </div> <!-- /grid-6 -->


                <div class="grid-6">

                    <h2><span class="slash">//</span> Our Goal</h2>

                    <p>Our goal is to be the perfect back office partner to help you establish, grow and protect your staffing organization. Flashback office was founded by a collection of ex-recruitment industry professionals that have done just and can share what we’ve learned to support your success.</p>

                </div> <!-- /grid-6 -->

            </div> <!-- /row -->
            <hr class="row-divider" />
            <div class="row">

                <div class="grid-6">

                    <h2><span class="slash">//</span> Our Story</h2>

                    <p>
                        Flashback office was founded by members of the staffing industry who have over 80 years collective experience in building and scaling staffing businesses in the United States and Canada.
                        We understand the challenges of staffing and how having an excellent back office partner can help.
                    </p>

                </div> <!-- /grid-6 -->


                <div class="grid-6">

                    <!--<img src="img/gallery/showcase2.png" />-->

                </div> <!-- /grid-6 -->

            </div> <!-- /row -->
            <hr class="row-divider" />
            <div class="row">

                <div class="grid-6">

                    <!--<img src="img/gallery/showcase3.png" />-->

                </div> <!-- /grid-6 -->


                <div class="grid-6">

                    <h2><span class="slash">//</span> Our Team</h2>

                    <p>Our team offers direct experience in taming the back office challenges that are particular to both large and small staffing organizations, and we can help you stay ahead of growth challenges and manage the ever changing regulatory landscape particular to the staffing industry.</p>

                </div> <!-- /grid-6 -->

            </div> <!-- /row -->
            <hr class="row-divider" />





        </div> <!-- /content -->
    </div> <!-- /container -->



    <div id="footer">

        <div class="container">

            <div class="row">

                <div class="grid-4">
                    <h1 id="footer-logo">Flashback Office</h1>

                    <p>We provide comprehensive back office and business management services for the staffing industry.</p>

                </div> <!-- /grid-4 -->

                <div class="grid-4">

                    <h3><span class="slash"> </span>  </h3>

                    <p> </p>

                    <!--<ul class="social-icons-container">
                        <li>
                            <a href="javascript:;" class="social-icon social-icon-twitter">
                                Twitter
                            </a>
                        </li>

                        <li>
                            <a href="javascript:;" class="social-icon social-icon-googleplus">
                                Google +
                            </a>
                        </li>

                        <li>
                            <a href="javascript:;" class="social-icon social-icon-facebook">
                                Facebook
                            </a>
                        </li>

                    </ul>-->

                </div> <!-- /grid-4 -->

                <div class="grid-4">

                    <h3><span class="slash">//</span> Subscribe and get updates</h3>


                    <p>Stay in touch. We are launching new functionality every day.</p>

                    <form>

                        <input type="text" name="subscribe_email" placeholder="Your Email">

                        <br>

                        <button class="btn btn-warning">Subscribe</button>
                    </form>


                </div><!-- /grid-4 -->

            </div> <!-- /row -->

        </div> <!-- /container -->

    </div> <!-- /footer -->



    <div id="copyright">

        <div class="container">

            <div class="row">

                <div id="rights" class="grid-6">
                    © 2013 Flashback Office. All Rights Reserved.
                </div> <!-- /grid-6 -->

                <div id="totop" class="grid-6">
                    <a href="privacy.html">Privacy Policy</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="contact.html">Contact Us</a>
                </div> <!-- /grid-6 -->

            </div> <!-- /row -->

        </div> <!-- /container -->

    </div> <!-- /copyright -->

</div> <!-- /wrapper -->