<div class="btn-toolbar pull-right">
	<button type="button" class="btn btn-primary" data-ng-click="edit()" data-ng-show="model.mode.inView"><i class="fontello-icon-edit"></i> Edit</button>
	<button type="button" class="btn btn-success" data-ng-click="save()" data-ng-disabled="!footer.canSave" data-ng-hide="model.mode.inView"><i class="fontello-icon-ok-1"></i> Save</button>
	<button type="button" class="btn btn-danger" data-ng-click="cancel()" data-ng-hide="model.mode.inView"><i class="fontello-icon-cancel-1"></i> Cancel</button>
	<button type="button" class="btn btn-warning" data-ng-click="close()" data-ng-show="model.mode.inView"><i class="fontello-icon-off"></i> Close</button>
</div>
