<div class="col col-xs-12 col-xl-6" *ngIf="invoice">
  <div class="form-horizontal">
    <app-phx-panel [headerTitle]="invoiceModuleResourceKeys.detail.recipientTitle| phxTranslate">
      <app-invoice-recipient-editor [labelText]="invoiceModuleResourceKeys.detail.invoiceToLabel| phxTranslate" [editable]="editable" 
        [recipientItems]="invoiceToList" [deliverToItems]="deliverToList" [recipient]="invoice.InvoiceTo"
        [showDeleteButton]="false" [showDeliveryMethod]="true" [required]="false" (valueChanged)="onRecipientChanged($event)">
      </app-invoice-recipient-editor>
    </app-phx-panel>

    <app-phx-panel [headerTitle]="invoiceModuleResourceKeys.detail.clientCourtesyCopiesTitle| phxTranslate">
      <div class="row add-row">
        <div class="col-xs-12">
          <div class="pull-right padding-right-10 padding-top-10" *ngIf="editable && invoiceClientCCList.length === 0 && selectedClientCCList.length === 0">
            {{invoiceModuleResourceKeys.detail.noProfileMessage| phxTranslate}}
          </div>
          <div class="pull-right padding-right-10 padding-top-10" *ngIf="!editable && selectedClientCCList.length === 0">
            {{invoiceModuleResourceKeys.detail.noClientCourtesyCopiesMessage| phxTranslate}}
          </div>
        </div>
      </div>

      <div>
        <app-invoice-recipient-editor *ngFor="let clientCC of invoice.ClientCourtesyCopies; let i = index"
          [labelText]="(invoiceModuleResourceKeys.detail.recipientTitle| phxTranslate) + ' ' + (i+1)" [editable]="editable" 
          [recipientItems]="invoiceClientCCList" [recipient]="clientCC" [showDeleteButton]="true" [showDeliveryMethod]="true"
          (valueChanged)="onRecipientChanged($event)"
          (deleted)="onRecipientDeleted($event)">
        </app-invoice-recipient-editor>
      </div>

      <div class="row add-row">
        <div class="col-xs-12 col-lg-12 ">
          <div class="add-container" *ngIf="editable">
            <button type="button" class="btn btn-material btn-default pull-right" (click)="addClientCC()">
              <i class="material-icons">add</i>
            </button>
          </div>
        </div>
      </div>
    </app-phx-panel>
  </div>
</div>
<div class="col col-xs-12 col-xl-6" *ngIf="invoice">
  <app-phx-panel [headerTitle]="invoiceModuleResourceKeys.detail.internalCourtesyCopiesTitle| phxTranslate">
    <div class="form-horizontal">
      <div class="row add-row">
        <div class="col-xs-12">
          <div class="pull-right padding-right-10 padding-top-10" *ngIf="!editable && currentlySelectedInternalCC.length === 0">
            {{invoiceModuleResourceKeys.detail.noInternalCourtesyCopiesMessage| phxTranslate}}
          </div>
        </div>
      </div>

      <div>
        <app-invoice-recipient-editor [labelText]="(invoiceModuleResourceKeys.detail.recipientTitle| phxTranslate) + ' ' + (i+1)" [editable]="editable" 
          [recipientItems]="invoiceInternalCCList" [recipient]="internalCC" [showDeleteButton]="true"
          [showDeliveryMethod]="false" *ngFor="let internalCC of invoice.InternalCourtesyCopies; let i = index" (valueChanged)="onRecipientChanged($event)"
          (deleted)="onRecipientDeleted($event)">
        </app-invoice-recipient-editor>
      </div>

      <div class="row add-row margin-right--10">
        <div class="col-xs-12 col-lg-12 ">
          <div class="add-container" *ngIf="editable">
            <button type="button" class="btn btn-material btn-default pull-right" (click)="addInternalCC()">
              <i class="material-icons">add</i>
            </button>
          </div>
        </div>
      </div>

    </div>
  </app-phx-panel>
</div>