@model Procom.Phoenix.Web.Models.LocalPasswordModel

<h3>Change password</h3>


@Html.AntiForgeryToken()
@Html.ValidationSummary()
<div class="row">
    <form id="changePassword">
        <div class="panel panel-tabbable col-lg-6">
            <div class="panel-heading">
                <div class="row">
                    <h3 class="col-lg-10 panel-title">You're logged in as <strong>@User.Identity.Name</strong></h3>
                </div>
            </div>
            <div class="panel-body">
                <div class="panel">
                    <div class="row form-horizontal">
                        <div class="form-group">
                            <label for="OldPassword" class="control-label col-sm-2 col-md-4">Current Password</label>
                            <div class="col-lg-5">
                                <input id="OldPassword" data-ng-model='model.OldPassword' class="form-control" type="password" name='password' placeholder='Current Password' required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="NewPassword" class="control-label col-sm-2 col-md-4">New Password</label>
                            <div class="col-lg-5">
                                <input id="NewPassword" data-ng-model='model.NewPassword' class="form-control" type="password" name='password' placeholder='New Password' required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ConfirmPassword" class="control-label col-sm-2 col-md-4">Confirm Password</label>
                            <div class="col-lg-5">
                                <input id="ConfirmPassword" data-ng-model='model.ConfirmPassword' class="form-control" type="password" name='password' placeholder='Confirm Password' required>
                            </div>
                        </div>
                        <div class="form-group" data-pt-error-box="model.BrokenRules"></div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="pull-right prl">
                        <button type="submit" class="btn btn-primary pull-right" data-ng-click="changePassword()">Change password</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

