<div class="account-container stacked">
    <div class="content clearfix margin-10-v-t">
        <div ng-if="passwordForgotSent">
            {{ localization.pwdForgotSentMessage }}
        </div>
        <form name="forgotForm" class="form-horizontal" role="form" ng-submit="forgotPassword(forgotForm)" ng-if="!passwordForgotSent">
            <div class="login-fields">
				<div class="field text-center">
					<img class="margin-10-v" src="/assets/logo-flex-backoffice.png" alt="logo" />
				</div>
                <p>{{ localization.emailId }}</p>
                <div class="field">
                    <input id="Email" name="Email" type="text" class="form-control input-lg"
                    data-ng-model="model.Email"/>
                </div>
                <div class="form-group" data-pt-error-box="brokenRules"></div>
            </div>
            <button class="btn btn-primary pull-right" type="submit">{{ localization.recoverButton }}</button>
        </form>
    </div>
</div>

