<div class="account-container stacked">
    <div class="content clearfix">
        <div ng-if="isPasswordReset">
            {{ localization.pwdForgotSentMessage }}
        </div>
        <form name="resetForm" class="form-horizontal" role="form" ng-submit="reset(resetForm)"
              ng-if="!isPasswordReset">
            <h1>{{ localization.resetPwdLabel }}</h1>
            <div class="login-fields">
                <p>{{ localization.pwdResetMessage }}</p>
                <div class="field">
                    <label for="Email" class="text-gray control-label">Email</label>
                    <input id="Email" name="Email" class="form-control input-lg" type="text" readonly="readonly" 
                           placeholder="Email" value="{{model.Email}}"/>
                </div>
                <div class="field">
                    <label for="Password" class="text-gray control-label">{{ localization.pwdLabel }}</label>
                    <input id="Password" name="Password" class="form-control input-lg password-field" type="password"
                           placeholder="Password" data-ng-model="model.Password" />
                </div>
                <div class="field">
                    <label for="ConfirmPassword" class="text-gray control-label">{{ localization.pwdLabel }}</label>
                    <input id="ConfirmPassword" name="ConfirmPassword" class="form-control input-lg password-field"
                           type="password" placeholder="Confirm Password" data-ng-model="model.ConfirmPassword" />
                </div>
                <div class="form-group" data-pt-error-box="brokenRules"></div>
            </div>
            <div class="login-actions">
                <button class="login-action btn btn-primary" type="submit">{{ localization.resetPwdLabel }}</button>
            </div>
        </form>
    </div>
</div>
