<ul class="breadcrumb">
	<li><a href="/app"><i class="fontello-icon-home"></i>&nbsp; Home</a> <span class="divider">/</span></li>
    <!--
    <li data-ng-repeat="item in _component.items">        
        <a data-ui-if="item.IsLink==true" data-ng-href="#{{item.Link}}" data-ng-class="itemClass(item)">{{item.Name}}</a>
        <a data-ui-if="item.IsLink==false" data-ng-class="itemClass(item)">{{item.Name}}</a>
        <span class="divider" data-ng-hide="isLastItem(item)">/</span>
    </li>-->
</ul>