<div class="body note-container">
    <div id="note-icons">
        <span data-ng-click="filterUnread()" data-ng-class="{selected : unred}" class="note-icon" title="Show Unread Notes">
            <i class="material-icons  md-18 black-icon ">mail</i>
            <span id="unreadNotes">
                Unread
                <span class="badge" data-ng-if="readCount>0">{{readCount}}</span>
            </span>
        </span>
        <span class="note-icon" data-ng-click="filterCritical()" data-ng-class="{selected :critical}" title="Show Critical Notes">
            <i class="material-icons  md-18 red-icon">priority_high</i>
            <span id="criticalNotes">
                Critical
                <span class="badge" data-ng-if="criticalCount>0">{{criticalCount}}</span>
            </span>
        </span>
        <span class="note-icon" data-ng-click="filterAll()" title="Show All Notes" data-ng-class="{selected :all}">
            <i class="material-icons  md-18 black-icon">list</i>
            <span id="allNotes">All Notes
                <span class="badge" data-ng-if="notesCopy.length>0">{{notesCopy.length}}</span>
            </span>
        </span>
    </div>


    <div id="noteAreaDiv">
        <div class="col-lg-12">
            <textarea class="form-control" placeholder="Write a Note ..." rows="3" id="noteArea" data-ng-model="entity.note" data-ng-keydown="noteEntered($event, entity.note, entity.isCritical)"
                style="font-size:12px;" maxlength="32000"></textarea>
        </div>
        <div class="col-lg-12">
            <button class="btn btn-default btn-material pull-right" data-ng-click="addNote(entity.note, entity.isCritical)" title="Post">
                <i class="material-icons">send</i>
            </button>
            <button class="btn btn-default btn-material pull-right critical" data-ng-class="{pressed : entity.isCritical }" data-ng-click="entity.isCritical = !entity.isCritical"
                title="Mark as critical">
                <i class="material-icons">priority_high</i>
            </button>
        </div>
    </div>

    <div id="noteScroll">
        <div data-ng-repeat="note in notes | orderBy:time: true" class="note-box">
            <div class="note-comment-header">
                <span data-ng-if="note.IsCritical" title="Mark as not Critical" data-ng-click="markCritical(note, false)">
                    <i class="material-icons md-18 red-icon">priority_high</i>
                </span>
                <span data-ng-if="!note.IsCritical" title="Mark as Critical" data-ng-click="markCritical(note, true)">
                    <i class="material-icons md-18 gray-icon">priority_high</i>
                </span>
                <span data-ng-if="note.UnreadNote.IsRead" title="Mark as Unread" data-ng-click="markRead(note, false)">
                    <i class="material-icons md-18 gray-icon">mail_outline</i>
                    </i>
                </span>
                <span data-ng-if="!note.UnreadNote.IsRead" title="Mark as Read" data-ng-click="markRead(note, true)">
                    <i class="material-icons md-18">mail</i>
                    </i>
                </span>
                <span>
                    <span class="note-owner">{{note.CommentOwnerName}}</span>
                    <span class="note-time">&nbsp;{{note.time | date:'EEE MMM dd yyyy HH:mm'}}</span>
                </span>
            </div>
            <div class="note-comment-container">
                <span class="note-comment">{{note.Comment}}</span>
            </div>
        </div>
    </div>
</div>